{% extends "base_user.html.twig" %}

{% block body %}
	<table class="tabla mt-5 mb-5">
			<thead>
				<tr class="text-center text-red">
					<th>Metodo</th>
					<th>Descripcion</th>
					<th>Cuota</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="text-center">
					<td class="border-table">Paypal</td>
					<td class="border-table">Recibe los fondos a tu cuenta paypal</td>
					<td class="border-table ">6%</td>
					<td>
						<a href="{{ path ('retiro_new_paypal')}}" class="text-red text-left">Seleccionar</a>
					</td>
				</tr>
				<tr class="text-center">
					<td class="border-table">Mercado Pago</td>
					<td class="border-table">Recibe los fondos en tu cuenta de banco </td>
					<td class="border-table ">0%</td>
					<td>
						<a href="{{ path ('retiro_new_mp')}}" class="text-red text-left">Seleccionar</a>
					</td>
				</tr>
			</tbody>
		</table>
{% endblock %}
