{% extends 'base_user.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-header">Mis listas</div>
	<div class="card-body">
		<div class="table-responsive">
			<table id="dataTable" class="table table-striped table-bordered">
				<thead>
					<tr class="text-center">
						<th>Metodo</th>
						<th>Monto</th>
						<th>Fecha</th>	
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for retiro in misRetiros %}
					<tr class="text-center">
						<td >{{retiro.metodo}}</td>
						<td >{{retiro.monto}}</td>
						<td >{{retiro.fecha|date('d-m-Y')}}</td>
						<td >{{retiro.status}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}

{% block javascripts %}
<script>
$('#dataTable').DataTable();
</script>
{% endblock %}