{% extends "base_user.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-6 offset-md-3">
	<a class="btn btn-success ml-5 float-right mb-2" href="{{ path ('regalos_index' , {'id':evento.id})}}">Volver</a>
		<h1>Retiro de fondos </h1>
		<h3 class="text-dark">Disclaimer</h3>
		<p class="text-dark">{{disclaimer.texto}}</p>
		<h6>Fondos disponibles : ${{evento.saldo}}</h6>
		<form method="post">
			<label for="">Beneficiary name</label><input name="beneficiaryName" class="form-control" type="text">
			<label for="">Codigo Swift Bic</label><input class="form-control" name="codigoSwift" type="text">
			<label for="">Beneficiary account number </label><input class="form-control" name="beneficiaryAccount" type="text">
			<label for="">Intermediary Bank Swift</label><input name="intermediaryBankSwift" class="form-control" type="text">
			<label for="">Street Address</label><input name="streetAddress" class="form-control" type="text">
			<label for="">City</label><input name="city" class="form-control" type="text">
			<label for="">State</label><input name="state" class="form-control" type="text">
			<label for="">Country</label><input name="country" class="form-control" type="text">
			<label for="">ZIP Code</label><input name="codigoPostal" class="form-control" type="text">
			<label for="">Monto a retirar</label>
			<input type="number" id="monto" name="monto" class="form-control" max="{{evento.saldo}}" placeholder="0,00">	
			<label for="">Comision de retiro </label>
			<input class="form-control" type="number" id="comision" readonly name="comision">
			<label for="">total a recibir</label>
			<input class="form-control" type="number" id="recibir" readonly name="recibir">
			<br>
			<div class="text-center">
				<button class="btn btn-success">Retirar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
let tipo = '{{tipoCobro}}'

$('#monto').keyup(function(){
	var monto = $('#monto').val();
	var tasaComision = parseInt('{{comision}}');
	if (tipo == 'fijo') {
		var comision = '{{comision}}';
	}else{
		var comision = (monto * tasaComision) / 100 ;
	}
	var recibir = monto - comision ;
		console.log(tasaComision , comision , recibir , monto);
	$('#comision').val(comision);
	$('#recibir').val(recibir);		
});

// location.href = 'newPage.html';
</script>
{% endblock %}
