{% extends "base_user.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-6 offset-md-3">
		<h1>Retiro de fondos Mercado pago</h1>
		<h6>Fondos disponibles : ${{app.user.saldo}}</h6>
		<form method="post">
			<label for="">Monto a retirar</label>
			<input type="number" name="monto" class="form-control" min="1" max="{{app.user.saldo}}" placeholder="0,00">	
			<br>
			<div class="text-center">
				<button class="btn btn-success">Retirar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
