{% extends "base_user.html.twig" %}

{% block body %}
<div class="row">

	<div class="col-md-6 offset-md-3">
		<a class="btn btn-success ml-5 float-right mb-2" href="{{ path ('regalos_index' , {'id':evento.id})}}">{%trans%}Volver{%endtrans%}</a>
		<h1>{%trans%}Retiro de fondos {%endtrans%}</h1>
		<h3 class="text-dark">Disclaimer</h3>
		<p class="text-dark">{{disclaimer.texto}}</p>
		<h6>{%trans%}Fondos disponibles {%endtrans%}: ${{evento.saldo}}</h6>
		<form method="post" >
			<label for="">{%trans%}Nombre Titular{%endtrans%}</label><input name="titular" class="form-control" type="text">
			<label for="">{%trans%}Dni{%endtrans%}</label><input class="form-control" name="dni" type="text">
			<label for="">{%trans%}Cuit{%endtrans%}</label><input class="form-control" name="cuit" type="text">
			<label for="">{%trans%}Nombre banco{%endtrans%}</label><input class="form-control" name="nombreBanco" type="text">
			<label for="">{%trans%}Numero de cuenta{%endtrans%}</label><input class="form-control" name="numeroCuenta" type="text">
			<label for="">{%trans%}Numero de {%endtrans%} CBU</label><input class="form-control" name="cbu" type="text">
			<label for="">{%trans%}Tipo de cuenta{%endtrans%}</label>
			<select class="form-control" name="tipoCuenta" id="">
				<option value="ahorros">{%trans%}Cuenta de ahorros{%endtrans%}</option>
				<option value="corriente">{%trans%}Cuenta corriente{%endtrans%}</option>
			</select>
			<label for="">{%trans%}Ciudad sucursal{%endtrans%}</label><input name="ciudadSucursal" class="form-control" type="text">
			<label for="">{%trans%}Codigo postal{%endtrans%}</label><input name="codigoPostal" class="form-control" type="text">
			<label for="">{%trans%}Monto a retirar{%endtrans%}</label>
			<input type="number" id="monto" name="monto" class="form-control" max="{{evento.saldo}}" placeholder="0,00">	
			<label for="">{%trans%}Comision de retiro {%endtrans%}</label>
			<input class="form-control" type="number" id="comision" readonly name="comision">
			<label for="">{%trans%}Total a recibir{%endtrans%}</label>
			<input class="form-control" type="number" id="recibir" readonly name="recibir">
			<br>
			<div class="text-center">
				<button class="btn btn-success">{%trans%}Retirar{%endtrans%}</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
let tipo = '{{tipoCobro}}'

$('#monto').keyup(function(){
	var monto = $('#monto').val();
	var tasaComision = parseInt('{{comision}}');
	if (tipo == 'fijo') {
		var comision = '{{comision}}';
	}else{
		var comision = (monto * tasaComision) / 100 ;
	}
	var recibir = monto - comision ;
		console.log(tasaComision , comision , recibir , monto);
	$('#comision').val(comision);
	$('#recibir').val(recibir);		
});
</script>
{% endblock %}
