{% extends "base_user.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-6 offset-md-3">
	<a class="btn btn-success ml-5 float-right mb-2" href="{{ path ('regalos_index' , {'id':evento.id})}}">Volver</a>
		<h1>Retiro de fondos </h1>
		<h3 class="text-dark">Disclaimer</h3>
		<p class="text-dark">{{disclaimer.texto}}</p>
		<h6>Fondos disponibles : ${{evento.saldo}}</h6>
		<select id="tipoForm" class="form-control">
			<option selected value="">Seleccione un tipo de Retiro</option>
			<option value="formUsa">USA</option>
			<option value="formInter">International</option>
		</select>
		<form method="post" id="completeForm" style="display:none;" >
			<div id="formUsa" style="display:none;">
				<label for="">Recipient name</label><input name="recipientName" class="form-control" type="text">
				<label for="">Bank Name</label><input class="form-control" name="bankName" type="text">
				<label for="">Bank City/State </label><input class="form-control" name="bankCity" type="text">
				<label for="">ABA Routing Number</label><input class="form-control" name="abaRouting" type="text">
				<label for="">Account Number</label><input class="form-control" name="accountNumber" type="text">
				<label for="">Account Type</label>
				<select class="form-control" name="tipoCuenta" id="">
					<option value="checking">Checking</option>
					<option value="savings">Savings</option>
				</select>
				<label for="">Intermediary Bank ABA Routing number</label><input name="intermediaryBank" class="form-control" type="text">
			</div>

			<div id="formInter" style="display:none;">
				<label for="">Beneficiary name</label><input name="beneficiaryName" class="form-control" type="text">
				<label for="">Codigo Swift Bic</label><input class="form-control" name="codigoSwift" type="text">
				<label for="">Beneficiary account number </label><input class="form-control" name="beneficiaryAccount" type="text">
				<label for="">Intermediary Bank Swift</label><input name="intermediaryBankSwift" class="form-control" type="text">
			</div>

			<label for="">Street Address</label><input name="streetAddress" class="form-control" type="text">
			<label for="">City</label><input name="city" class="form-control" type="text">
			<label for="">State</label><input name="state" class="form-control" type="text">
			<label for="">Country</label><input name="country" class="form-control" type="text">
			<label for="">ZIP Code</label><input name="codigoPostal" class="form-control" type="text">
			<label for="">Monto a retirar</label>
			<input type="number" id="monto" name="monto" class="form-control" max="{{evento.saldo}}" placeholder="0,00">	
			<label for="">Comision de retiro </label>
			<input class="form-control" type="number" id="comision" readonly name="comision">
			<label for="">total a recibir</label>
			<input class="form-control" type="number" id="recibir" readonly name="recibir">
			<br>
			<div class="text-center">
				<button class="btn btn-success">Retirar</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
let tipo = '{{tipoCobro}}'

$('#tipoForm').change(function(){
	$('#completeForm').show();
	let val = $('#tipoForm').val();
	if (val == 'formUsa') {
		$('#formUsa').show();
		$('#formInter').hide();
	}else{
		$('#formUsa').hide();
		$('#formInter').show();
	}
});

$('#monto').keyup(function(){
	var monto = $('#monto').val();
	var tasaComision = parseInt('{{comision}}');
	if (tipo == 'fijo') {
		var comision = '{{comision}}';
	}else{
		var comision = (monto * tasaComision) / 100 ;
	}
	var recibir = monto - comision ;
	console.log(tasaComision , comision , recibir , monto);
	$('#comision').val(comision);
	$('#recibir').val(recibir);		
});
</script>
{% endblock %}
