{% extends "base_user.html.twig" %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<h2>Cancelacion de retiro</h2>
			<h6>Fecha : {{retiro.fecha|date('d-m-Y')}}</h6>
			<h6>Monto : {{retiro.monto}}</h6>
			<form method="post">
				<input type="hidden" name="cancelar" value="1">
				<button class="btn btn-success">Cancelar</button>
			</form>
		</div>
	</div>
{% endblock %}
