{% extends "base_user.html.twig" %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<h1>Retiro Cancelado </h1>
			<a href="{{ path ('mis_retiros')}}" class="btn btn-success">Mis Retiros</a>
		</div>
	</div>
{% endblock %}
