{% extends 'base_user.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-6 offset-md-3">
		<div class="card">
			<div class="card-body">
				<h1 class="text-danger">{%trans%}Gracias por su compra{%endtrans%}</h1>
				<h2 class="text-dark mt-2 text-center">{{evento.titulo}}</h2>
				<table class="table mb-5 text-center table-hover table-striped">
					<thead>
						<tr>
							<th>{%trans%}Producto{%endtrans%}</th>
							<th>{%trans%}Descripcion{%endtrans%}</th>
							<th>{%trans%}Importe{%endtrans%}</th>
						</tr>
					</thead>
					<tbody>
						{% for producto in productos %}
						<tr>
							<td>
								{% if producto.regalo.image|slice(0,3) == 'htt' %}
												<img src="{{producto.regalo.image}}" height="100" alt="">
											{% else %}
												<img src="{{ asset ('img/allImg/'~producto.regalo.image) }}" height="100" alt="">
											{% endif %}
							</td>
							<td>{{producto.regalo.descripcion}}</td>
							{% if evento.pais.codigo == 'AR' %}
									<td>{{(producto.contribucion)|number_format(2,'.','')}}</td>
								{% else %}
									<td>{{(producto.contribucion  * moneda )|number_format(2,'.','')}}</td>
							{% endif %}
						</tr>
						{% endfor %}
					</tbody>
				</table>
				{% if evento.pais.codigo == 'AR' %}
				<h5 class="font-bold">Subtotal: $ <span id="subtotal">{{(subtotal )|number_format(2,'.','')}}</span></h5>
						<hr>
						<h5 class="font-bold">{% trans %}Costos medios de pago (tarjeta){% endtrans %}: $ <span id="impuestos">{{(impuestos)|number_format(2,'.','')}}</span></h5>
						<h5 class="font-bold">{% trans %}Impuestos {% endtrans %}: $ <span id="impuestosPais">{{(impuestosPais)|number_format(2,'.','')}}</span></h5>
						<h5 class="font-bold">Total: ({{money}}) <span class="conversion">{{(totalImpuestos)|number_format(2,'.','')}}</span></h5>
						<hr>

						{% if evento.pais.codigo == 'AR' %}
						<h3 class="font-bold">Total pagado: ARS $ <span class="conversionArgentina">{{total|number_format(2,'.','')}}</span></h3>
						{% else %}
						<h3 class="font-bold">{% trans %}Total pagado {% endtrans %}: USD$ <span id="total">{{total|number_format(2,'.','')}}</span></h3>
						{% endif %}
				{% else %}
				<h5 class="font-bold">Subtotal: $ <span id="subtotal">{{(subtotal  * moneda )|number_format(2,'.','')}}</span></h5>
						<hr>
						<h5 class="font-bold">{% trans %}Costos medios de pago (tarjeta){% endtrans %}: $ <span id="impuestos">{{(impuestos * moneda )|number_format(2,'.','')}}</span></h5>
						<h5 class="font-bold">{% trans %}Impuestos {% endtrans %}: $ <span id="impuestosPais">{{(impuestosPais * moneda )|number_format(2,'.','')}}</span></h5>
						<h5 class="font-bold">Total: ({{money}}) <span class="conversion">{{(totalImpuestos * moneda )|number_format(2,'.','')}}</span></h5>
						<hr>

						{% if evento.pais.codigo == 'AR' %}
						<h3 class="font-bold">Total pagado: ARS $ <span class="conversionArgentina">{{total|number_format(2,'.','')}}</span></h3>
						{% else %}
						<h3 class="font-bold">{% trans %}Total pagado {% endtrans %}: USD$ <span id="total">{{total|number_format(2,'.','')}}</span></h3>
						{% endif %}
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
    localStorage.setItem('carrito','{"productos":[],"total":0}');
    </script>
{% endblock %}