{% extends "base_user.html.twig" %}

{% block body %}
<form action="">
	<div class="row">
		<div class="col-md-3">
			<label for="">{% trans %}Buscar Evento {% endtrans %}</label>
			<input type="text" value="{{palabra}}" name="buscar" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
		</div>
		<div class="col-md-3">
			<label for=""> {% trans %}Tipo de registro{% endtrans %}</label>
			<select name="tipo" class="form-control" id="">
					<option value="">{% trans %}Seleccione un tipo de evento {% endtrans %}</option>
				{% for tipo in tipoEventos %}
					<option {% if tipoR == tipo.id %}selected{% endif %} value="{{tipo.id}}">{{tipo.tipo}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-3">
			<label for="">{% trans %}Pais {% endtrans %}</label>
			<select class="form-control" name="pais" id="">
				<option value="">{% trans %}Seleccione un pais{% endtrans %}</option>
				{% for pais in paises %}
					<option {% if paisR == pais.id %}selected{% endif %} value="{{pais.id}}">{{pais.pais}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-3 pt-2">
			<button class="btn btn-outline-primary mt-4 " ><i class="fa fa-search"></i></button>
		</div>
	</div>
</form>


<div class="row mt-5">
	{% if eventos|length == 0 %}
	<div class="col-md-12">
		<h3 class="text-center">No se encuentran resultados para su criterio de busqueda</h3>
	</div>
	{% endif %}
	{% for evento in eventos %}
	<div class="col-md-3 mt-4">
		<a class="box-link" href="{{ path ('regalar_new',{'id':evento.id , 'titulo':evento.titulo|replace({' ':''})})}}" >
			<div class="card card-regalo" >
				<div class="card-img-top card-img" style="background-image: url({{ asset ('img/allImg/'~evento.image)}});" ></div>
				<div class="card-body text-center">
					<!-- <h4>{{evento.titulo}}</h4> -->
					<h6>{{evento.fecha|date('l','America/Argentina/Buenos_Aires')|trans}} , {{evento.fecha|date('d')}} de {{evento.fecha|date('F')|trans}} de {{evento.fecha|date('Y')}}</h6>
					<h5>{{evento.nombre}} {{evento.apellido}}</h5>
					<h5>{{evento.nombre2}} {{evento.apellido2}}</h5>
					{#
					<p class="card-text">{{evento.about|length > 50 ? evento.about|slice(0, 50) ~ '...' : evento.about }}</p>
					#}
					<h6>{{evento.pais.pais}} {{evento.ciudad}}</h6>
					<!-- <h6>{{evento.tipo.tipo}}</h6> -->
				</div>
			</div>
		</a> 
	</div>	
	
	{% endfor %}
</div>
{% endblock %}
{% block javascripts %}
<script>
$('#dataTable').DataTable();
</script>
{% endblock %}
