{% extends 'base_user.html.twig' %}

{% block body %}
		<h1>{%trans%}Emails Enviados{%endtrans%}</h1>
    <a class="btn btn-lg btn-success" href="{{path ('regalar_new',{'id':evento.id , 'titulo':evento.titulo})}}">{%trans%}Volver{%endtrans%}</a>
{% endblock %}