{% extends 'base_user.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<h3 class="text-danger mb-2">{{evento.titulo}}</h3>
						<br>
						<h5>{{evento.nombre}} {{evento.apellido}}</h5>
						<h5>{{evento.nombre2}} {{evento.apellido2}}</h5>
						<br>
						<p>{{evento.about}}</p>
					</div>
					<div class="col-md-6 text-center">
						<img width="350" src="{{ asset ('img/allImg/'~evento.image)}}" alt="">
					</div>
				</div>
				<div class="row mt-5 text-center">
					<div class="col-md-4">
						<p class="text-danger">{% trans%}Fecha{% endtrans %} : {{evento.fecha|date('d-m-Y')}}</p>
					</div>
					<div class="col-md-4">
						<p class="text-danger">{% trans%}Lugar del evento{% endtrans%}</p>
						<div class="text-left pl-5">
							{% if not evento.lugarEvento1 and not evento.lugarEvento2 and not evento.lugarEvento3 %}
							<i class="text-danger fa fa-map mr-5"></i><h5>{{evento.pais.pais}} {{evento.ciudad}}</h5><br>
							{% endif %}
							{% if evento.lugarEvento1 %}
							<i class="text-danger fa fa-map mr-5"></i><a href="https://maps.google.com/?q={{evento.mapa1}}" target="_blank">{{evento.lugarEvento1}}</a><br>
							{% endif %}
							{% if evento.lugarEvento2 %}
							<i class="text-danger fa fa-map mr-5"></i><a href="https://maps.google.com/?q={{evento.mapa2}}" target="_blank">{{evento.lugarEvento2}}</a><br>
							{% endif %}
							{% if evento.lugarEvento3 %}
							<i class="text-danger fa fa-map mr-5"></i><a href="https://maps.google.com/?q={{evento.mapa3}}" target="_blank">{{evento.lugarEvento3}}</a>
							{% endif %}
						</div>
					</div>
					<div class="col-md-4">
						<p class="text-danger">{% trans%}Compartir{% endtrans%}</p>
						<a href="https://www.facebook.com/sharer/sharer.php?u={{link}}" target="_blank" class="btn btn-primary"><i class="fab fa-facebook-square"></i></a>
						<a href="https://twitter.com/intent/tweet?url={{link}}" target="_blank" class="btn btn-info"><i class="fab fa-twitter-square"></i></a>
						<a href="https://api.whatsapp.com/send?text={{link}}" target="_blank" class="btn btn-success"><i class="fab fa-whatsapp-square"></i></a>
						<a id="mailTo" data-toggle="modal" data-target="#modalEmail" class="btn btn-success"><i class="fa fa-envelope text-white"></i></a>
					</div>
				</div>
				<!-- <div class="row">
					<div class="col-md-8 offset-md-4">
						<div class="row text-center font-15 mt-5 pt-2 pb-2 pr-2 bg-blue align-mid border-round">
							<div class="col-md-1 offset-md-1 center-item text-white"><i class="fa fa-gift"></i></div>
							<div class="col-md-2 text-white"><span class="contador">0</span> Selected Items</div>
							<div class="col-md-1 center-item text-gray"><button id="btnCarrito" class="btn btn-default"><i  class="fa fa-arrow-up"></i></button></div>
							<div class="col-md-3 center-item text-white"><i class="fa fa-arrow-right mr-3"></i> $<span class="total">0</span> <i class="fa fa-arrow-right ml-3"></i></div>
							<div class="col-md-4 "><button id="continuar" class="btn btn-block btn-light btn-lg font-25 bold">Continuar</button></div>
						</div>
					</div>
				</div> -->
				<div class="col-md-3 offset-md-9">
					<div class="row text-center font-15 mt-5 pt-2 pb-2 pr-2 bg-blue align-mid ">
						<div class="col-md-3 center-item text-white"><i class="fa fa-gift"></i></div>
						<div class="col-md-6 text-white"><span class="contador">0</span> Selected Items</div>
						<div class="col-md-3 center-item text-gray"><button id="btnCarrito" class="btn btn-default"><i  class="fa fa-arrow-up"></i></button></div>
					</div>
					<div style="display:none" class="row bg-blue align-mid text-center pb-1 pt-1 top-border bottom-carrito">
						<div class="col-md-6 center-item text-white nonePaddingRight"><span >$</span><span class="subtotal">0.00</span> <i class="fa fa-arrow-right ml-3"></i></div>
						<div class="col-md-6 nonePaddingLeft"><button id="continuar" class="btn btn-light btn-block ">{% trans%}Pagar{% endtrans%}</button></div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-10 offset-md-1">
						<form id="filtro">
							<div class="row">
								<div class="col-md-5">
									<!-- <input class="form-control" value="{{buscar}}" placeholder="Buscar por nombre" name="buscar" type="text"> -->
								</div>
								{% if evento.tipoLista == 'clasica' %}
								<div class="col-md-5">
									<select name="categoria" id="cat" class="form-control">
										<option value="">{% trans%}Seleccione una categoria{% endtrans%}</option>
										{% for categoria in categorias %}
										<option {% if categoria.id == category %}selected{% endif %} value="{{categoria.id}}">{{categoria.categoria}}</option>
										{% endfor %}
									</select>
								</div>
								{% endif %}
							</div>
						</form>
					</div>
				</div>
				<div class="row mt-5">
					{% if regalos|length == 0 %}
					<div class="col-md-12">
						<h3 class="text-center">{% trans%}No se encontraron regalos {% endtrans%}</h3>
					</div>
					{% endif %}
					{% if evento.tipoLista == 'clasica' %}
					{% for regalo in regalos %}
					<div class="col-md-3 mt-3">
						<div class="card card-regalo" >
							{% if regalo.image|slice(0,3) == 'htt' %}
							<div class="card-img-top card-img" style="background-image: url({{regalo.image}});" ></div>
							{% else %}
							<div class="card-img-top card-img" style="background-image: url({{ asset ('img/allImg/'~regalo.image)}});" ></div>
							{% endif %}
							<div class="card-body text-center">
								<h5>{{regalo.nombre}}</h5>
								<h6>{{(regalo.precio * monedaMenu.conversion)|number_format(2,'.','')}} {{monedaMenu.moneda}}$</h6>
								<!-- <h6 class="font-bold">${{regalo.sugerido}}</span></h6> -->
								<button data-id="{{regalo.id}}" onclick="openModal('{{regalo.nombre}}','{{regalo.descripcion}}','{{regalo.image}}',{{(regalo.precio * monedaMenu.conversion )|number_format(2,'.','')}},{{(regalo.sugerido * monedaMenu.conversion )|number_format(2,'.','')}},{{regalo.id}})" class="btn btn-dark btn-block comprar">{% trans%}Regalar{% endtrans%}</button> 
							</div>
						</div>
					</div>
					{% endfor %}
					{% else %}
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-red">
								<thead>
									<tr class="text-center">
										<th>{% trans%}Foto{% endtrans%}</th>
										<th>{% trans%}Regalo{% endtrans%}</th>
										<th>{% trans%}Descripcion{% endtrans%}</th>
										<th>{% trans%}Precio{% endtrans%}</th>
										<th><i class="fa fa-shopping-cart text-red"></i></th>
									</tr>
								</thead>
								<tbody>
									{% for regalo in regalos %}
									<tr class="text-center">
										<td>
											{% if regalo.image|slice(0,3) == 'htt' %}
												<img src="{{regalo.image}}" height="100" alt="">
											{% else %}
												<img src="{{ asset ('img/allImg/'~regalo.image) }}" height="100" alt="">
											{% endif %}
										</td>
										<td class="bold">{{regalo.nombre}}</td>
										<td>{{regalo.descripcion}}</td>
										<td>{% trans%}Sugerido {% endtrans%} ${{(regalo.sugerido * monedaMenu.conversion )|number_format(2,'.','')}}<br><input data-id="{{regalo.id}}" value="{{(regalo.sugerido * monedaMenu.conversion )|number_format(2,'.','')}}" type="number" class="sugerido bold"></td>
										<td><button data-id="{{regalo.id}}" onclick="addCarrito('simple','{{regalo.nombre}}','{{regalo.descripcion}}','{{regalo.image}}',{{regalo.precio}},{{regalo.id}})" class="btn btn-dark comprar">{% trans%}Regalar{% endtrans%}</button></td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					{% endif %}
				</div>
				
			</div>
		</div>
	</div>
</div>
<!-- Small modal -->
<div id="modalDetail" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header text-center">
				<h4  >{% trans%}Comprar regalo{% endtrans%}</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6">
						<img width="220" id="image" src="" alt="">
					</div>
					<div class="col-md-6">
						<h3 id="nombre"></h3>
						<p id="desc"></p>
						<span>Precio: </span> <span id="precio"></span><span> {{monedaMenu.moneda}}$</span><br>
						<!-- <h6>Precio : <span id="precio" class="font-bold"></span></h6>
						-->				<label for="">{% trans%}Contribuir con{% endtrans%}</label>
						<input id="contribuir" type="number" placeholder="250$" class="form-control"><br>
						<button onclick="addCarrito('clasica')" id="addCarrito" class="btn btn-info">{% trans%}Añadir al carrito{% endtrans%}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalCarrito" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<div class="col-md-4 center-item text-white mt-2 font-25"><i class="fa fa-gift"></i></div>
				<div class="col-md-4 text-white font-25 text-center"><span class="contador">0</span> Selected Items</div>
				<div class="col-md-4">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">X</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<table class="table table-hover text-center">
					<thead>
						<tr>
							<th>{% trans%}Acciones{% endtrans%}</th>
							<th>{% trans%}Articulo{% endtrans%}</th>
							<th>{% trans%}Contribucion{% endtrans%}</th>
						</tr>
					</thead>
					<tbody class="text-center" id="tablaCarrito">
					</tbody>
				</table><br>
				<div class="text-right mb-3 mr-1 font-25">
					<!-- <h6>Subtotal : $<span class="subtotal">0</span> </h6> -->
					<h6>{{monedaMenu.moneda}} $<span class="subtotal">0</span> </h6>
					<!-- <h6>Costo procesamiento de tarjeta $<span class="costoProcesamiento">0</span></h6>
					<h6>Impuestos $<span class="impuestos">0</span></h6>
					<h6>Total moneda menu {{monedaMenu.moneda}} $<span class="monedaMenu">0</span> </h6>
					<h6>Total $<span class="total">0</span></h6> -->
				</div>
				<form id="pagar-form" method="post" action="{{ path ('pagar',{'id':evento.id})}}">
					<input id="data" hidden name="data" type="text">
					<button id="pagar" style="display:none;" class="btn btn-primary btn-block">{% trans%}Pagar{% endtrans%}</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div id="modalEmail" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<div class="text-white font-25 text-center">{% trans%}Compartir por Email{% endtrans%}</div>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span class="text-white" aria-hidden="true">X</span>
				</button>
			</div>
			<div class="modal-body">
				<form method="post" action="{{ path ('compartirMail')}}">
					<input type="email" name="email" placeholder="introduzca email " class="form-control">
					<input type="hidden" name="evento" value="{{evento.id}}">
					<br>
					<div class="text-center">
						<button class="btn btn-success">{% trans%}Enviar{% endtrans%}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block javascripts %}
<script>

$('#dataTable').DataTable();

$('#cat').change(function(){
	$('#filtro').submit();
})

var $nombre,$desc,$image,$precio,$contribuir,$id;
var $data = {'productos':[],'total':0};
var subtotal;
var total;
var tasaMenu =  parseFloat('{{monedaMenu.conversion}}');
var tasaPais = parseFloat('{{monedaPais.conversion}}');
var tasaimpuestos = parseFloat('{{impuestos}}');
var comisionInvitado = parseFloat('{{comisionInvitado}}');


$(document).ready(function(){
	var carrito = JSON.parse(localStorage.getItem('carrito'));
	if (carrito) {
		$data = JSON.parse(localStorage.getItem('carrito'));
		for (var i = 0; i < carrito.productos.length; i++) {
			var prod = $data.productos[i];
			prod.contribuir = prod.contribuirUSD * tasaMenu;
			console.log(i);
			console.log($data);
			console.log(prod);
			addCarritoStorage(prod.nombre,prod.desc,prod.image ,prod.precio,prod.contribuir,prod.id);
		}
	}
})

function openModal(nombre,desc,image,precio,sugerido,id){
	$id = id;
	$nombre = nombre;
	$desc = desc;
	$precio = precio;
	$image = image;
	$('#nombre').text(nombre);
	$('#desc').text(desc);
	$('#precio').text(precio);
	$('#contribuir').val(sugerido);
	console.log(sugerido);
	console.log(image.substring(0, 4));
	sub = image.substring(0, 4);
	if (sub = 'http') {
		$('#image').attr('src',image);
	}else{
		$('#image').attr('src','http://test.xelebra.com/app/web/img/allImg/'+image);
	}
	$('#modalDetail').modal('toggle');
}

function contarItems(){
	subtotal = 0;
	$('.contador').text($data.productos.length);
	if ($data.productos.length) {
		$('.bottom-carrito').show();
	}else{
		$('.bottom-carrito').hide();
	}
	for (var i = 0; i < $data.productos.length; i++) {
		subtotal += parseFloat($data.productos[i].contribuir);
	}
	var procesamientoTarjeta = (subtotal * comisionInvitado) /100 ;
	var impuestos = (subtotal * tasaimpuestos)/100
	total = subtotal + impuestos + procesamientoTarjeta;
	var monedaMenu = subtotal * tasaMenu ;
	console.log(tasaMenu);
	var monedaPais = total * tasaPais ;
	//var total = subtotal + impuestos + procesamientoTarjeta ;
	$('.subtotal').text(subtotal.toFixed(2)) ;
	$('.costoProcesamiento').text(procesamientoTarjeta.toFixed(2));
	$('.impuestos').text(impuestos.toFixed(2)) ;
	$('.monedaMenu').text(total.toFixed(2)) ;
	$('.total').text(total.toFixed(2));
	// totales 
	
}

function addCarrito(lista,nombre,desc,image,precio,id){
	if (lista == 'clasica') {
		$('#modalDetail').modal('toggle');
		if ($('#contribuir').val()) {
			$contribuir = $('#contribuir').val();
		}else{
		//$contribuir = parseInt($precio)/3;
		$contribuir = 250;
	}
}else{
	$id = id;
	$nombre = nombre;
	$desc = desc;
	$precio = precio;
	$image = image;
	if ($('input[data-id="'+$id+'"]').val()) {
		$contribuir = $('input[data-id="'+$id+'"]').val();
	}else{
		$contribuir = precio;
	}
	$('.comprar[data-id="'+$id+'"]').text('Agregado');
	$('.comprar[data-id="'+$id+'"]').removeClass('btn-dark');
	$('.comprar[data-id="'+$id+'"]').addClass('btn-success');
	$('.comprar[data-id="'+$id+'"]').attr('disabled',true);
}
$data.productos.push({
	'id':$id,
	'nombre':$nombre,
	'desc':$desc,
	'image':$image,
	'precio':$precio,
	'contribuir':$contribuir,
	'contribuirUSD': $contribuir/ tasaMenu
});
localStorage.setItem('carrito',JSON.stringify($data));
console.log(JSON.stringify($data));
$('#contribuir').val('');
$('#tablaCarrito').append(`
	<tr>
	<td>
	<button data-id="${$id}" class="close removeItem"><span class="text-red" aria-hidden="true">X</span></button>
	</td>
	<td>${$nombre}</td>
	<td>${$contribuir}</td>
	</tr>
	`);
if ($('#tablaCarrito').find('tr').length) {
	$('#pagar').show();
	console.log('blue');
}else{
	console.log('red');
}
contarItems();

}

function addCarritoStorage(nombre,desc,image,precio,contribuir,id){
	$('#tablaCarrito').append(`
		<tr>
		<td>
		<button data-id="${id}" class="close removeItem"><span class="text-red" aria-hidden="true">X</span></button>
		</td>
		<td>${nombre}</td>
		<td>${contribuir}</td>
		</tr>
		`);
	$('.comprar[data-id="'+id+'"]').text('Agregado');
	$('.comprar[data-id="'+id+'"]').removeClass('btn-dark');
	$('.comprar[data-id="'+id+'"]').addClass('btn-success');
	$('.comprar[data-id="'+id+'"]').attr('disabled',true);
	if ($('#tablaCarrito').find('tr').length) {
		$('#pagar').show();
		console.log('blue');
	}else{
		console.log('red');
	}
	contarItemsStorage();

}

function contarItemsStorage(){
	console.log($data);
	subtotal = 0;
	$('.contador').text($data.productos.length);
	if ($data.productos.length) {
		$('.bottom-carrito').show();
	}else{
		$('.bottom-carrito').hide();
	}
	for (var i = 0; i < $data.productos.length; i++) {
		subtotal += parseFloat($data.productos[i].contribuir);
	}
	var procesamientoTarjeta = (subtotal * comisionInvitado) /100 ;
	var impuestos = (subtotal * tasaimpuestos)/100
	total = subtotal + impuestos + procesamientoTarjeta;
	var monedaMenu = subtotal * tasaMenu ;
	console.log(tasaMenu);
	var monedaPais = total * tasaPais ;
	//var total = subtotal + impuestos + procesamientoTarjeta ;
	$('.subtotal').text(subtotal.toFixed(2)) ;
	$('.costoProcesamiento').text(procesamientoTarjeta.toFixed(2));
	$('.impuestos').text(impuestos.toFixed(2)) ;
	$('.monedaMenu').text(monedaMenu.toFixed(2)) ;
	$('.total').text(total.toFixed(2));
	// totales 
}

$('#addCarrito').click(function(){
	$('.comprar[data-id="'+$id+'"]').text('Agregado');
	$('.comprar[data-id="'+$id+'"]').removeClass('btn-dark');
	$('.comprar[data-id="'+$id+'"]').addClass('btn-success');
	$('.comprar[data-id="'+$id+'"]').attr('disabled',true);
})

$('#modalCarrito').on('click','.removeItem',function(){
	var id = $(this).data('id');
	$(this).parent().parent().remove()
	$('.comprar[data-id="'+id+'"]').text('Regalar');
	$('.comprar[data-id="'+id+'"]').removeClass('btn-success');
	$('.comprar[data-id="'+id+'"]').addClass('btn-dark');
	$('.comprar[data-id="'+id+'"]').attr('disabled',false);
	if ($('#tablaCarrito').find('tr').length) {
		console.log('blue');
	}else{
		console.log('red');
		$('#pagar').hide();
	}
	$data.productos.splice($data.productos.findIndex(function(i){
		return i.id === id;
	}), 1);
	localStorage.setItem('carrito',JSON.stringify($data));
	console.log($data);
	contarItems();
})

$('#pagar-form').submit(function(){
	$data.total = subtotal;
	$('#data').val(JSON.stringify($data));
})


$('#btnCarrito').click(function(){
	$('#modalCarrito').modal('toggle');
})

$('#continuar').click(function(){
	if ($data.productos.length > 0) {
		$('#pagar-form').submit();
	}
})

;
</script>
{% endblock %}