{% extends 'base_user.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				{% if productos %}
				<h2 class="text-danger">{{evento.titulo}}</h2>
				<table class="table mb-5 text-center table-hover table-striped">
					<thead>
						<tr>
							<th>{% trans %}Producto{% endtrans %}</th>
							<th>{% trans %}Nombre{% endtrans %}</th>
							<th>{% trans %}Importe{% endtrans %}</th>
						</tr>
					</thead>
					<tbody>
						{% for key ,producto in productos.productos %}
						<tr>
							<td>
								{% if producto.image|slice(0,3) == 'htt' %}
								<img src="{{producto.image}}" height="120" alt="">
								{% else %}
								<img src="{{ asset ('img/allImg/'~producto.image) }}" height="120" alt="">
								{% endif %}
							</td>
							<td>{{producto.nombre}}</td>
							<td><input type="number" id="contribucion{{key}}" onKeyUp="remakePrice({{key}})" class="contribucion" value="{{producto.contribuir|number_format(2,'.','')}}"> <i style="display:none" class="text-success fa fa-check-circle"></i></td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
				<div class="row">
					<div class="col-md-12 text-right">
						<h5 class="font-bold">Subtotal: $ <span id="subtotal">{{subtotal}}</span></h5>
						<hr>
						<h5 class="font-bold">{% trans %}Costos medios de pago (tarjeta){% endtrans %}: $ <span id="impuestos">{{impuestos|number_format(2,'.','')}}</span></h5>
						<h5 class="font-bold">{% trans %}Impuestos {% endtrans %}: $ <span id="impuestosPais">{{impuestosPais|number_format(2,'.','')}}</span></h5>
						<h5 class="font-bold">Total: ({{money}}) <span class="conversion">{{conversion|number_format(2,'.','')}}</span></h5>
						<hr>

						{% if evento.pais.codigo == 'AR' %}
						<h3 class="font-bold">Total a pagar: ARS $ <span class="conversionArgentina">{{conversionArgentina|number_format(2,'.','')}}</span></h3>
						{% else %}
						<h3 class="font-bold">{% trans %}Total a pagar {% endtrans %}: USD$ <span id="total">{{totalUsd|number_format(2,'.','')}}</span></h3>
						{% endif %}
					</div>
				</div>
				<form action="{{ path ('paypal')}}" method="post" id="form" action="">
					<label for="">{% trans %}Nombre de los participantes del regalo{% endtrans %}</label>
					<input required name="nombre" id="nameP"	type="text" class="form-control">
					<label for="">Email({% trans %}Participantes{% endtrans %})</label>
					<input required name="email" type="text" placeholder="{% trans %}puede ingresar varios mails, separados por comas {% endtrans %}: ej aa@aa.com, pp@p.co" id="emailP" class="form-control">
					<label for="">{% trans %}Dedicatoria{% endtrans %}</label>
					<input name="data" class="data" value="" type="hidden">
					<input type="hidden" name="order" id="order">
					<input type="hidden" name="evento" value="{{evento.id}}">
					<textarea required  name="mensaje" id="mensajeP" class="form-control" cols="30" rows="10">{% trans %}Muchas felicidades{% endtrans %}!!</textarea>
					<label for="">{% trans %}Acepto los {% endtrans %}</label>
					<a class="terminos" target="_blank" href="{{path ('terminosYCondiciones')}}">{% trans %}Terminos y condiciones{% endtrans %}</a>
					<input required type="checkbox">
					<br>
					<!-- <button class="btn btn-success">Finalizar Compra</button> -->
				</form>
				{% if evento.pais.pais == 'Argentina' %}
				{% set paypal = 'display:none;' %}
				{% set mp = '' %}
				{% else %}
				{% set mp = 'display:none;' %}
				{% set paypal = '' %}
				{% endif %}
				<div class="row">
					<div class="col-md-6">
						<div style="{{paypal}}" id="paypal-button-container"></div>
					</div>
					<div id="mpButton" class="col-md-6">
						<form style="{{mp}}" action="{{ path ('mercadopago')}}" method="POST">
							<input name="nombre"  id="nameM"	type="hidden" >
							<input name="email" type="hidden"  id="emailM" >
							<input name="mensaje" type="hidden" type="hidden" id="mensajeM">
							<input name="data" class="data" value="{{strProductos}}" type="hidden">
							<input name="conversion" id="totalArgentina" value="{{conversionArgentina|number_format(2,'.','')}}" value="" type="hidden">
							<input type="hidden" name="evento" value="{{evento.id}}">
							<script
							src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
							data-preference-id="{{preference.id}}" data-button-label="Mercado pago">
							</script>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<h6 class="text-center">Disclaimer</h6>
						<p class="text-dark">{{disclaimer.texto}}</p>
					</div>
				</div>
				{% else %}
				<h2>{% trans %}Carrito vacio{% endtrans %} :(</h2>
				<a class="btn btn-primary mt-3" href="{{ path ('regalar_new',{'id':evento.id , 'titulo':evento.titulo})}}">{% trans %}Volver{% endtrans %}</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}

<script
    src="https://www.paypal.com/sdk/js?client-id=AS_hK-7zZ2UAsXieIcLFnLWNOgToeZdnthgJO7AGGaZdmN4qk2rnPCTZ2BetH_DUpqtXIArCk_QgqGSy"> // Required. Replace SB_CLIENT_ID with your sandbox client ID.
    </script>
    <script>
    var productos = "{{strProductos}}";
    productos = JSON.parse(productos.replace(/&quot;/g, '"'));
    $(document).ready(function(){
    	var totalPaypal = 0;
    	$('.mercadopago-button').attr('disabled',true);
    	$('#form').on('change keyup paste',':input',function(){
    		$('.mercadopago-button').attr('disabled',false);
    		console.log('change');
    	})
    	console.log(document.getElementById("form").checkValidity());
    	console.log("{{total}}")
    	calcular();
    });

    $('.mercadopago-button').click(function(){
    	$('#nameM').val($('#nameP').val());
    	$('#emailM').val($('#emailP').val());
    	$('#mensajeM').val($('#mensajeP').val());
    })

    var tasaArgentina = '{{tasaArgentina.conversion|number_format(2,'.','')}}'
    var contribuciones = $('.contribucion');
    var comision = "{{comision|number_format(2,'.','')}}";
    var impuestoPais = "{{impuestoPais|number_format(2,'.','')}}";
    var moneda = "{{moneda|number_format(2,'.','')}}";

    function remakePrice(index){
    	productos.productos[index].contribuir = $('#contribucion'+index).val();
    	var totalProductos = 0
    	for (var i = 0; i < productos.productos.length; i++) {
    		console.log(productos.productos[i].contribuir);
    		totalProductos = totalProductos + parseInt(productos.productos[i].contribuir);
    	}
    	productos.total = totalProductos.toFixed(2);
    	console.log(productos);
    	calcular();
    }

    function calcular(){
    	var subTotal = 0;
    	for (var i = 0; i < contribuciones.length; i++) {
    		console.log($(contribuciones[i]).val());
    		subTotal += parseInt($(contribuciones[i]).val());
    	}
    	var impuestos = (subTotal  * parseInt(comision))/ 100;
    	var impuestosPais = (subTotal  * parseInt(impuestoPais))/ 100;
  		var conversion = (subTotal + impuestosPais + impuestos);  //* parseInt(moneda) ;
  		var total = (subTotal + impuestos + impuestosPais)/ moneda;
  		var totalArgentina = (total) * tasaArgentina;
  		console.log(total+' total');
  		console.log(moneda +' moneda');
  		console.log(tasaArgentina +' tasaargentina');
  		totalPaypal = total.toFixed(2);
  		$('#subtotal').text(subTotal.toFixed(2));
  		$('#impuestos').text(impuestos.toFixed(2));
  		$('.conversion').text(conversion.toFixed(2));
  		$('#impuestosPais').text(impuestosPais.toFixed(2));
  		$('#total').text(total.toFixed(2));
  		$('.conversionArgentina').text(totalArgentina.toFixed(2));
  		console.log($(this).parent().find('i'));
  		$(this).parent().find('i').show();
  		$('.data').val(JSON.stringify(productos));
  		$('#totalArgentina').val(totalArgentina);
  	}

	//PAYPAL BUTTONS
	paypal.Buttons({
	// onInit is called when the button first renders
	onInit: function(data, actions) {
	// Disable the buttons
	actions.disable();
	$('#form').on('change keyup paste',':input',function(){
		if (document.getElementById("form").checkValidity()) {
			actions.enable();
		}
	})
},
	// onClick is called when the button is clicked
	onClick: function() {
		if (!document.getElementById("form").checkValidity()) {
			alert('por favor llene todos los campos');    
		}
	},
	createOrder: function(data, actions) {
	//This function sets up the details of the transaction, including the amount and line item details.
	return actions.order.create({
		purchase_units: [{
			amount: {
				value: totalPaypal
			}
		}]
	});
},
onApprove: function(data, actions) {
	$('#order').val(data.orderID);
	$('.data').val(JSON.stringify(productos));
	$('#form').submit();
}
}).render('#paypal-button-container');

	</script>

	{% endblock %}