{% extends "::base.html.twig" %}
{% block css %}
<link href="{{ asset ('ample/bower_components/switchery/dist/switchery.min.css')}}" rel="stylesheet" />
{% endblock %}
{% block body %}

{% set estilo = '' %}
{% set estiloBoton = '' %}
{% if not evento.comPersonalizada %}
{% set estilo = 'display:none;' %}
{% set estiloBoton = '' %}
{% else %}
{% set estilo = '' %} 
{% set estiloBoton = 'display:none;' %}
{% endif %}

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="white-box">
			<h3 class="box-title">{{evento.titulo}}</h3>
			<form action="" method="post">
				<label for="check">Commision personalizada</label>
				<input type="hidden" value="send" name="send">
				<input type="checkbox" name="check" id="check" {% if evento.comPersonalizada %} checked {% endif %} class="js-switch" data-color="#13dafe" /><br>
				<button style="{{estiloBoton}}" id="checkButton" class="btn btn-warning">Editar</button>
			</form>
			<div id="form" style="{{estilo}}">
				<form action="" method="post">
					<label for="">Precio Fijo</label><input required type="number" value="{{evento.fijo}}" name="fijo" class="form-control">
					<label for="">Porcentaje Novio</label><input required type="number" name="novio" value="{{evento.porcentNovio}}"  class="form-control">
					<label for="">Porcentaje Invitado</label><input required type="number" name="invitado" value="{{evento.porcentInvitado}}"  class="form-control">
					<label for="">Fijo Novio</label><input required type="number" name="fijoNovio" value="{{evento.fijoNovio}}"  class="form-control">
					<label for="">Fijo Invitado</label><input step="0.01"  required type="number" name="fijoInvitado" value="{{evento.fijoInvitado}}"  class="form-control">
					<label for="">Impuesto pais</label><input step="0.01"  required type="number" name="pais" value="{{evento.impuestoPais}}"  class="form-control">
					<br>
					<button id="formButton" class="btn btn-warning">Editar</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset ('ample/bower_components/switchery/dist/switchery.min.js')}}"></script>
<script>
    	 // Switchery
    	 var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
    	 $('.js-switch').each(function() {
    	 	new Switchery($(this)[0], $(this).data());
    	 });
    	 $('.js-switch').change(function(){
    	 	$('#form').toggle();
    	 	$('#checkButton').toggle();
    	 	console.log($('.js-switch').val());
    	 });
    	 console.log();
    	 $('#blue').click(function(){
    	 	console.log($('#blue').val());
    	 })
    	 ;
    	 </script>
    	 {% endblock %}
