{% extends "::base.html.twig" %}

{% block body %}
<!-- <div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="#">Nuevo</a>
	</div>
</div> -->
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<h3 class="box-title">Eventos </h3>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr >
						<th class="text-center" >Id</th>
						<th class="text-center" >titulo</th>
						<th class="text-center" >usuario</th>
						<th class="text-center" >email</th>
						<th class="text-center" >fecha</th>
						<th class="text-center" >pais</th>
						<th class="text-center" >Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for evento in eventos %}
					<tr class="text-center">
						<td>{{ evento.id }}</td>
						<td>{{ evento.titulo }}</td>
						<td>{{ evento.user.username }}</td>
						<td>{{ evento.email }}</td>
						<td>{{ evento.fecha|date('d-m-Y') }}</td>
						<td>{{ evento.pais.pais }}</td>
						<td>
							<a href="{{ path ('AdminEventos_edit',{'id':evento.id})}}" class="btn btn-warning" href="">Comision</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
