{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="{{ path ('AdminTipoListas_new')}}">Nuevo</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<div class="box-heading">Tipos de Lista</div>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Tipo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for tipoLista in tipoListas %}
					<tr>
						<td>{{ tipoLista.id}}</td>
						<td>{{ tipoLista.tipo}}</td>
						<td>
							<a href="{{ path ('AdminTipoListas_edit',{'id':tipoLista.id})}}" class="btn btn-warning" href="">Edit</a>
							<a href="{{ path ('AdminTipoListas_del',{'id':tipoLista.id})}}" class="btn btn-danger" href="">Del</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
