<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}App Blue{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset ('ample/images/favicon.png')}}">
    <!-- Bootstrap Core CSS -->
    <link href="{{ asset ('ample/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="{{ asset ('ample/bower_components/sidebar-nav/dist/sidebar-nav.min.css')}}" rel="stylesheet">
    <!-- animation CSS -->
    <link href="{{ asset ('ample/css/animate.css')}}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{{ asset ('ample/css/style.css')}}" rel="stylesheet">
    <link href="{{ asset ('ample/css/mystyles.css')}}" rel="stylesheet">
    <!-- color CSS -->
    <link href="{{ asset ('ample/css/colors/default.css')}}" id="theme" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    {% block css %}
        
    {% endblock %}
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href="index.html">
                        <!-- Logo icon image, you can use font-icon also --><b>
                            <!--This is dark logo icon--><img src="{{ asset ('ample/images/admin-logo.png')}}" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="{{ asset ('ample/images/admin-logo-dark.png')}}" alt="home" class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                            <!--This is dark logo text--><img src="{{ asset ('ample/images/admin-text.png')}}" alt="home" class="dark-logo" /><!--This is light logo text--><img src="{{ asset ('ample/images/admin-text-dark.png')}}" alt="home" class="light-logo" />
                        </span> </a>
                    </div>
                    <!-- /Logo -->
                    <!-- Search input and Toggle icon -->
                    <ul class="nav navbar-top-links navbar-left">
                        <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
                                        
                                    </ul>
                                    
                                        </div>
                                        <!-- /.navbar-header -->
                                        <!-- /.navbar-top-links -->
                                        <!-- /.navbar-static-side -->
                                    </nav>
                                    <!-- End Top Navigation -->
                                    <!-- ============================================================== -->
                                    <!-- Left Sidebar - style you can find in sidebar.scss  -->
                                    <!-- ============================================================== -->
                                    <div class="navbar-default sidebar" role="navigation">
                                        <div class="sidebar-nav slimscrollsidebar">
                                            <div class="sidebar-head">
                                                <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3> </div>
                                                <ul class="nav" id="side-menu">
                                                 <li>
                                                    <a href="login.html" class="waves-effect"><i class="mdi mdi-logout fa-fw"></i> <span class="hide-menu">Blank</span></a>
                                                </li>
                {#
                    <li> <a href="index.html" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Dashboard <span class="fa arrow"></span> </span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="index.html"><i class=" fa-fw">1</i><span class="hide-menu">Dashboard 1</span></a> </li>
                            <li> <a href="index2.html"><i class=" fa-fw">2</i><span class="hide-menu">Dashboard 2</span></a> </li>
                            <li> <a href="index3.html"><i class=" fa-fw">3</i><span class="hide-menu">Dashboard 3</span></a> </li>
                        </ul>
                    </li>
                    #}
                    <li> <a href="index.html" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu"> Retiros <span class="fa arrow"></span> </span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{{ path ('adminRetiro_index',{'tipo':'todos'})}}"><i class=" fa-fw"></i><span class="hide-menu">Todos</span></a> </li>
                            <li> <a href="{{ path ('adminRetiro_index',{'tipo':'procesando'})}}"><i class=" fa-fw"></i><span class="hide-menu">En Proceso</span></a> </li>
                            <li> <a href="{{ path ('adminRetiro_index',{'tipo':'completado'})}}"><i class=" fa-fw"></i><span class="hide-menu">Completados</span></a> </li>
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path ('AdminRegalos_index')}}" class="waves-effect"><i class="mdi mdi-gift fa-fw"></i> <span class="hide-menu">Regalos</span></a>
                    </li>
                    <li>
                        <a href="{{ path ('AdminCategorias_index')}}" class="waves-effect"><i class="mdi mdi-box fa-fw"></i> <span class="hide-menu">Categorias</span></a>
                    </li>
                    <li>
                        <a href="{{ path ('AdminTipoListas_index')}}" class="waves-effect"><i class="mdi mdi-pencil fa-fw"></i> <span class="hide-menu">Tipos de lista</span></a>
                    </li>
                    <li>
                        <a href="{{ path ('AdminEventos_index')}}" class="waves-effect"><i class="mdi mdi-pencil fa-fw"></i> <span class="hide-menu">Eventos</span></a>
                    </li>
                    <li>
                        <a href="{{ path ('AdminComisiones_index')}}" class="waves-effect"><i class="mdi mdi-pencil fa-fw"></i> <span class="hide-menu">Comisiones</span></a>
                    </li>
                    <li>
                        <a href="{{ path ('AdminConversiones_index')}}" class="waves-effect"><i class="mdi mdi-pencil fa-fw"></i> <span class="hide-menu">Conversiones</span></a>
                    </li>
                    <li>
                        <a href="{{ path ('editables_index')}}" class="waves-effect"><i class="mdi mdi-pencil fa-fw"></i> <span class="hide-menu">Editables</span></a>
                    </li>
                    <li> <a href="index.html" class="waves-effect"><i class="mdi mdi-av-timer fa-fw" data-icon="v"></i> <span class="hide-menu">Reportes<span class="fa arrow"></span> </span></a>
                        <ul class="nav nav-second-level">
                            <li> <a href="{{ path ('reporteCompleto')}}"><i class=" fa-fw"></i><span class="hide-menu">Reporte Completo</span></a> </li>
                            <li> <a href="{{ path ('reporteListaNovios')}}"><i class=" fa-fw"></i><span class="hide-menu">Reporte de listas</span></a> </li>
                            <li> <a href="{{ path ('reportePagos')}}"><i class=" fa-fw"></i><span class="hide-menu">Reporte de pagos</span></a> </li>
                            <li> <a href="{{ path ('reporteRegalos')}}"><i class=" fa-fw"></i><span class="hide-menu">Reporte de regalos</span></a> </li>
                        </ul>
                    </li>
                    <li class="devider"></li>
                    <li><a href="{{ path ('logout')}}" class="waves-effect"><i class="fa fa-circle-o text-danger"></i> <span class="hide-menu">Logout</span></a></li>

                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <!-- <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Starter Page</h4> </div> -->
                        <!-- <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>
                            <a href="javascript: void(0);" target="_blank" class="btn btn-danger pull-right m-l-20 hidden-xs hidden-sm waves-effect waves-light">Buy Admin Now</a>
                            <ol class="breadcrumb">
                                <li><a href="#">Dashboard</a></li>
                                <li class="active">Starter Page</li>
                            </ol>
                        </div> -->
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="row">
                        {% block body %}{% endblock %}
                    </div>
                    <!-- ============================================================== -->
                    <!-- Right sidebar -->
                    <!-- ============================================================== -->
                    <!-- .right-sidebar -->
                    <div class="right-sidebar">
                        <div class="slimscrollright">
                            <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                            <div class="r-panel-body">
                                <ul id="themecolors" class="m-t-20">
                                    <li><b>With Light sidebar</b></li>
                                    <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                    <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                    <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                    <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                    <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                    <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                    <li><b>With Dark sidebar</b></li>
                                    <br/>
                                    <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                    <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                    <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                    <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                    <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                    <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                                </ul>
                                <ul class="m-t-20 all-demos">
                                    <li><b>Choose other demos</b></li>
                                </ul>
                                <ul class="m-t-20 chatonline">
                                    <li><b>Chat option</b></li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="{{ asset ('ample/images/users/varun.jpg')}}" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><img src="{{ asset ('ample/images/users/genu.jpg')}}" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Right sidebar -->
                    <!-- ============================================================== -->
                </div>
                <!-- /.container-fluid -->
                <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by themedesigner.in </footer>
            </div>
            <!-- ============================================================== -->
            <!-- End Page Content -->
            <!-- ============================================================== -->
        </div>
        <!-- /#wrapper -->

        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="{{ asset ('ample/bower_components/jquery/dist/jquery.min.js')}}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset ('ample/bootstrap/dist/js/bootstrap.min.js')}}"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="{{ asset ('ample/bower_components/sidebar-nav/dist/sidebar-nav.min.js')}}"></script>
        <!--slimscroll JavaScript -->
        <script src="{{ asset ('ample/js/jquery.slimscroll.js')}}"></script>
        <!--Wave Effects -->
        <script src="{{ asset ('ample/js/waves.js')}}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{ asset ('ample/js/custom.min.js')}}"></script>
        <!--Style Switcher -->
        <script src="{{ asset ('ample/bower_components/styleswitcher/jQuery.style.switcher.js')}}"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
    </html>
