<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Xelebra</title>
  <title>{% block title %}Xelebra{% endblock %}</title>
  {% block css %}{% endblock %}
	<link rel="stylesheet" href="{{ asset ('user/bootstrap/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ asset ('user/css/styles.css')}}">
  <link rel="stylesheet" href="{{ asset ('user/fontawesome/css/brands.css')}}">
  <link rel="stylesheet" href="{{ asset ('user/fontawesome/css/fontawesome.css')}}">
  <link rel="stylesheet" href="{{ asset ('user/fontawesome/css/all.css')}}">
  <link rel="stylesheet" href="{{ asset ('user/css/wordpress.css')}}">
  <link rel="stylesheet" href="{{ asset ('ample/bower_components/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css">
</head>
<body>
<!--  send nav-->
{{ render(controller(
        'AppBundle:Navbar:countryAndMoney'
    )) }}

	 <!-- Navigation -->
    <nav class="navbar navbar-main navbar-expand-lg navbar-light ">
      <div class="container">
        <a class="navbar-brand" href="http://test.xelebra.com/"><img src="{{ asset ('user/images/xelebra-logo.png')}}" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ path ('regalar_index')}}">{% trans %}Quiero Regalar{% endtrans %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path ('eventos_new')}}">{% trans %}Crear lista{% endtrans %}</a>
            </li>
            {% if app.user %}
            <!-- <li class="nav-item">
              <a class="nav-link" href="{{ path ('eventos_index')}}">Mis listas</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path ('mis_retiros')}}">Mis retiros</a>
            </li> -->
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="http://test.xelebra.com/es/como-funciona/">{% trans %}Como funciona{% endtrans %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://test.xelebra.com/es/blog/">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container main-container">
    	{% block body %}{% endblock %}
    </div>
   {% include 'footer.html.twig'%}
    <!-- Footer -->

<script src="{{ asset ('user/jquery/jquery.min.js')}}"></script>
<script src="{{ asset ('user/bootstrap/js/bootstrap.js')}}"></script>
<script src="{{ asset ('ample/bower_components/datatables/jquery.dataTables.min.js')}}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>