{% extends 'base_user.html.twig' %}
{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				{% for flash_message in app.session.flashbag.get('notice') %}
				<div class="flash-notice">
					{{ flash_message }}
				</div>
				{% endfor %}
				<h3>User Profile</h3>
			</div>
		</div>
	</div>
</div>
{% endblock %}
