{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="white-box">
			<h3>{{comision.pais.pais}}</h3>
			<h3>{{comision.tipoEvento.tipo}}</h3>
			<form action="" method="post">
				<label for="">Precio Fijo</label><input required type="number" value="{{comision.fijo}}" name="fijo" class="form-control">
				<label for="">Porcentaje Novio</label><input required type="number" name="novio" value="{{comision.porcentNovio}}"  class="form-control">
				<label for="">Porcentaje Invitado</label><input required type="number" name="invitado" value="{{comision.porcentInvitado}}"  class="form-control">
				<label for="">Fijo Novio</label><input required type="number" name="fijoNovio" value="{{comision.fijoNovio}}"  class="form-control">
				<label for="">Fijo Invitado</label><input step="0.01"  required type="number" name="fijoInvitado" value="{{comision.fijoInvitado}}"  class="form-control">
				<label for="">Impuesto pais</label><input step="0.01"  required type="number" name="pais" value="{{comision.impuestoPais}}"  class="form-control">
				<br>
				<button class="btn btn-warning">Editar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}