{% extends "::base.html.twig" %}

{% block body %}
<!-- <div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="#">Nuevo</a>
	</div>
</div> -->
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<div class="box-heading">Comisiones de eventos</div>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Evento</th>
						<th>Pais</th>
						<th>Comision fija</th>
						<th>% Novio</th>
						<th>% Invitado</th>
						<th>Fijo Novio</th>
						<th>Fijo Invitado</th>
						<th>Impuesto Pais</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for comision in comisiones %}
					<tr>
						<td>{{ comision.id }}</td>
						<td>{{ comision.tipoEvento.tipo }}</td>
						<td>{{ comision.pais.pais }}</td>
						<td>{{ comision.fijo }}</td>
						<td>{{ comision.porcentNovio }}</td>
						<td>{{ comision.porcentInvitado }}</td>
						<td>{{ comision.fijoNovio }}</td>
						<td>{{ comision.fijoInvitado }}</td>
						<td>{{ comision.impuestoPais }}</td>
						<td>
							<a href="{{ path ('AdminComisiones_edit',{'id':comision.id})}}" class="btn btn-warning" href="">Edit</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
