<style>
table , th  ,td{
  border:1px solid black;
}
table{
  margin-top: 50px;
  border-collapse: collapse;
}
.header{
  text-align: center;
}
th{
  text-align: center;
  background: #D7D5D5;
  font-size: 8px;
}
td{
  text-align: center;
  white-space:pre ;
  font-size: 8px;
}
.tabla{
  width: 10000px;
}
</style>
<page>

  <h5 class="header">Reporte de Pagos Relizados {{fecha|date('d-m-Y')}}</h5>
  <table >
    <tr>
      <th>Id</th>
      <th style="width:30px">Id lista</th>
      <th style="width:70px">Medio de pago</th>
      <th style="width:70px">Fecha compra</th>
      <th style="width:70px">Monto</th>
      <th style="width:70px">Id Regalo</th>
      <th style="width:70px">Nombre lista</th>
      <th style="width:70px">Nombre regalo</th>
      <th style="width:70px">Mail titular</th>
      <th style="width:70px">Mail adicional</th>
      <th style="width:70px">Participantes de regalo</th>
      <th style="width:70px">Email participantes</th>
      <th style="width:70px">Dedicatoria</th>
      <th style="width:70px">Envie saludos (si/no)</th>
      <th style="width:70px">Agradecimiento de los novios</th>
    </tr>
    {% for regalo in regalos %}
    <tr>
      <td>{{regalo.id}}</td>
      <td>{{regalo.evento.id}}</td>
      <td>{{regalo.factura.metodoPago}}</td>
      <td>{{regalo.factura.fecha|date('d-m-Y')}}</td>
      <td>{{regalo.factura.total}}</td>
      <td>{{regalo.regalo.id}}</td>
      <td>{{regalo.evento.titulo}}</td>
      <td>{{regalo.regalo.nombre}}</td>
      <td>{{regalo.evento.email}}</td>
      <td>{{regalo.evento.email2}}</td>
      <td>{{regalo.nombre}}</td>
      <td>{{regalo.email}}</td>
      <td>{{regalo.mensaje}}</td>
      <td>{{regalo.agradecer}}</td>
      <td>{{regalo.agradecerMensaje}}</td>
    </tr>
    {% endfor %}
  </table>
  <page_footer> 
  </page_footer> 
</page>
