<style>
table , th  ,td{
  border:1px solid black;
}
table{
  margin-top: 10px;
  border-collapse: collapse;
}
.header{
  text-align: center;
}
th{
  text-align: center;
  background: #D7D5D5;
}
td{
  text-align: center;
  white-space:pre ;
}
.tabla{
  width: 10000px;
}
</style>

{% for lista in listas %}
    
<page>

  <h3 class="header">Reporte Completo  {{lista.evento.titulo}} {{fecha|date('d-m-Y')}}</h3>

  <h3>Lista</h3>
   <table >
    <tr >
      <th>Id</th>
      <th style="width:30px">Nombre de lista</th>
      <th style="width:100px">Tipo de lista</th>
      <th style="width:100px">Fecha del evento</th>
      <th style="width:100px">Cantidad de invitados</th>
      <th style="width:100px">Pais</th>
      <th style="width:100px">Ciudad</th>
      <th style="width:100px">Pais retiro de fondos</th>
      <th style="width:100px">Moneda elegida</th>
    </tr>
    <tr>
      <td>{{lista.evento.id}}</td>
      <td>{{lista.evento.titulo}}</td>
      <td>{{lista.evento.tipo.tipo}}</td>
      <td>{{lista.evento.fecha|date('d-m-Y')}}</td>
      <td>{{lista.evento.invitados}}</td>
      <td>{{lista.evento.pais.pais}}</td>
      <td>{{lista.evento.ciudad}}</td>
      <td>{{lista.evento.comision.pais.pais}}</td>
      <td>{{lista.evento.comision.pais.codigo}}</td>
    </tr>
  </table>


  <h3>Regalos</h3>
  <table >
    <tr>
      <th style="width:30px">Id</th>
      <th style="width:40px">Id lista </th>
      <th style="width:70px">Tipo de evento</th>
      <th style="width:70px">Id regalo</th>
      <th style="width:70px">Fecha compra</th>
      <th style="width:70px">Monto</th>
      <th style="width:70px">Nombre lista</th>
      <th style="width:70px">Nombre regalo</th>
      <th style="width:70px">Participantes Regalo</th>
      <th style="width:70px">Mail Participantes</th>
      <th style="width:70px">Mail titular lista novios</th>
      <th style="width:70px">Mail adicional lista novios</th>
    </tr>
    {% for regalo in lista.regalos %}
    <tr>
      <td>{{regalo.id}}</td>
      <td>{{regalo.evento.id}}</td>
      <td>{{regalo.evento.tipo.tipo}}</td>
      <td>{{regalo.regalo.id}}</td>
      <td>{{regalo.factura.fecha|date('d-m-Y')}}</td>
      <td>{{regalo.factura.total}}</td>
      <td>{{regalo.evento.titulo}}</td>
      <td>{{regalo.regalo.nombre}}</td>
      <td>{{regalo.nombre}}</td>
      <td>{{regalo.email}}</td>
      <td>{{regalo.evento.email}}</td>
      <td>{{regalo.evento.email2}}</td>
    </tr>
    {% endfor %}
  </table>
  

  <page_footer> 
  </page_footer> 
</page>
{% endfor %}

