<style>
table , th  ,td{
  border:1px solid black;
}
table{
  margin-top: 50px;
  border-collapse: collapse;
}
.header{
  text-align: center;
}
th{
  text-align: center;
  background: #D7D5D5;
}
td{
  text-align: center;
  white-space:pre ;
}
.tabla{
  width: 10000px;
}
</style>
<page>

  <h5 class="header">Reporte de Regalos  {{fecha|date('d-m-Y')}}</h5>
  <table >
    <tr>
      <th style="width:20px">Id</th>
      <th style="width:30px">Id lista </th>
      <th style="width:70px">Tipo de evento</th>
      <th style="width:70px">Id regalo</th>
      <th style="width:70px">Fecha compra</th>
      <th style="width:70px">Monto</th>
      <th style="width:70px">Nombre lista</th>
      <th style="width:70px">Nombre regalo</th>
      <th style="width:70px">Participantes Regalo</th>
      <th style="width:70px">Mail Participantes</th>
      <th style="width:70px">Mail titular lista novios</th>
      <th style="width:70px">Mail adicional lista novios</th>

    </tr>
    {% for regalo in regalos %}
    <tr>
      <td>{{regalo.id}}</td>
      <td>{{regalo.evento.id}}</td>
      <td>{{regalo.evento.tipo.tipo}}</td>
      <td>{{regalo.regalo.id}}</td>
      <td>{{regalo.factura.fecha|date('d-m-Y')}}</td>
      <td>{{regalo.factura.total}}</td>
      <td>{{regalo.evento.titulo}}</td>
      <td>{{regalo.regalo.nombre}}</td>
      <td>{{regalo.nombre}}</td>
      <td>{{regalo.email}}</td>
      <td>{{regalo.evento.email}}</td>
      <td>{{regalo.evento.email2}}</td>
    </tr>
    {% endfor %}
  </table>
  <page_footer> 
  </page_footer> 
</page>
