html {
	height: 100%;
}
.navbar-second{
	height: 38px;
	font-weight: bold;
	font-size: 15px;
	background-color: #f36944 !important;
}

nav.navbar-second a.nav-link  {
	color: black !important;
}

nav.navbar-main a.nav-link  {
	color: #373636 !important;
}

nav.navbar-main a.nav-link:hover {
	color: #f36944 !important;
}

[type="search"] {
	-webkit-appearance: button !important;
}

body {
	height: 100%;
}
.main-container{
	padding-top: 100px;
	padding-bottom: 100px;
	min-height: 90% !important;
}

.navbar-main{
	font-weight: bold;
	font-size: 20px;
	-webkit-box-shadow: 0px 40px 50px -41px rgba(117,113,117,1);
	-moz-box-shadow: 0px 40px 50px -41px rgba(117,113,117,1);
	box-shadow: 0px 40px 50px -41px rgba(117,113,117,1);
}

.card-login{
	margin-top: 5vh;
}

.font-small{
	font-size: 12px;
}

.img-container{
	min-height: 200px;
}

.font-bold{
	font-size: 20px;
	font-weight: bold;
	color: #3C3A3A;
}

.card-regalo:hover{
	-webkit-box-shadow: 0px 0px 21px 0px rgba(102,102,102,1);
	-moz-box-shadow: 0px 0px 21px 0px rgba(102,102,102,1);
	box-shadow: 0px 0px 21px 0px rgba(102,102,102,1);
	cursor: pointer;
}

.box-link{
	color: black;
	text-decoration: none;
}

.box-link:hover{
	color: black;
	text-decoration: none;
}

.border-table{
	border: 1px solid;
}

.tabla{
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

.text-red{
	color: #FA1313;
}

.text-red:hover{
	color: #FA1313;
}

.hover-red:hover{
	color: #FA1313;
}

.gift{
	font-size: 20px;
	margin-right: 5px;
}

.text-blue{
	color: blue;
}

.bg-gray{
	background-color: #ABA8A8;
}

.bg-blue{
	background-color: #B1D0DE;
}

.table-red thead th {
	border-bottom: 2px solid #FA1313;
	border-top: 2px solid #FA1313;
	vertical-align: middle;
}
.table-red tbody td {
	border-bottom: 2px solid #FA1313;
	vertical-align: middle;
}

.sugerido{
	padding: 4px 4px 4px 4px;
	width: 60px;
	color: #FA1313;
	border: 1px solid #FA1313;
}

.bold{
	font-weight: bold;
}

.font-25{
	font-size: 25px;
}

.font-15{
	font-size: 18px;
}

.align-mid{
	vertical-align: middle;
}

.center-item{
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-gray{
	color: gray;
}

.removeItem{
	float: none !important;
}

.mercadopago-button{
	line-height: 2 !important;
	font-size: 30px !important;
	height: 55px;
	width: 100%;
}

.card-img{
	height: 180px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.border-round{
	border-radius: 10px;
}

.bg-blue{
	background-color: #0f4c75;
}

.terminos{
	text-decoration: underline;
}

.blue{
	margin-right: 15px;
}

.nonePaddingRight{
	padding-right: 0px;
}

.nonePaddingLeft{
	padding-left: 3px;
}

.top-border{
	border-top: 2px solid white;
}

.paginate_button.previous {
	display: none !important;
}

.paginate_button.next {
	display: none !important;
}

.dataTables_length{
	display:none !important; 
}

.dataTables_info{
	display:none !important;;
}