.pb-5, .py-5 {
    padding-bottom: 3rem !important;
}
.pt-5, .py-5 {
    padding-top: 3rem !important;
}
.bg-dark {
    background-color: #343a40 !important;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

footer {
    display: block;
}


.pswp, html {
    -webkit-text-size-adjust: 100%;
}


#footer.solid-bg {
    background: #1a1c20 none repeat center top;
}
.footer {
    -ms-grid-row: 6;
    grid-area: footer;
}
.footer, .header-side-line.right-side-line #main, .header-side-right:not(.sticky-header) #main {
    -ms-grid-column: 1;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}


footer {
    display: block;
}


.pswp, html {
    -webkit-text-size-adjust: 100%;
}



#main > .wf-wrap, #bottom-bar > .wf-wrap, #footer > .wf-wrap {
    width: 1300px;
}
.wf-wrap {
    max-width: 100%;
    padding: 0 44px;
    margin: 0 auto;
}
.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}


.pswp, html {
    -webkit-text-size-adjust: 100%;
}



#footer .wf-container-footer {
    padding-top: 60px;
    padding-bottom: 25px;
}
.wf-container-footer, .footer.full-width-line {
    border-top: 1px solid #1a1c20;
}

div {
    display: block;
}


.pswp, html {
    -webkit-text-size-adjust: 100%;
}



#footer .wf-container {
    margin: 0 -25px;
}
.wf-container {
    font-size: 0;
    line-height: 0;
    word-spacing: -4px;
    margin: 0 -22px;
    padding: 0;
}

div {
    display: block;
}

html {
    font-size: 100%;
    -ms-text-size-adjust: 100%;
}

.pswp, html {
    -webkit-text-size-adjust: 100%;
}


.footer .widget, .footer .tp_recent_tweets li {
    font-size: 14px;
    line-height: 25px;
}
.footer .widget {
    color: #85868c;
    padding: 0 25px;
}
.footer .widget {
    margin-bottom: 30px;
}
.footer .widget, .wf-cell, .wf-usr-cell {
    display: inline-block;
    vertical-align: top;
    padding: 0 22px;
}

.wf-1-3, .wf-span-4 {
    width: 33.3333%;
}
.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    display: block;
}
.wf-container {
    font-size: 0;
    line-height: 0;
    word-spacing: -4px;
    margin: 0 -22px;
    padding: 0;
}

.pswp, html {
    -webkit-text-size-adjust: 100%;
}

html {
    color: -internal-root-color;
}
.widget:after, .widget:before {
    clear: both;
}
.sidebar-left .wf-wrap:after, .sidebar-left .wf-wrap:before, .sidebar-right .wf-wrap:after, .sidebar-right .wf-wrap:before, .widget:after, .widget:before {
    display: table;
    content: "";
}
*, *::before, *::after {
    box-sizing: border-box;
}
.widget:after, .widget:before {
    clear: both;
}
.sidebar-left .wf-wrap:after, .sidebar-left .wf-wrap:before, .sidebar-right .wf-wrap:after, .sidebar-right .wf-wrap:before, .widget:after, .widget:before {
    display: table;
    content: "";
}
*, *::before, *::after {
    box-sizing: border-box;
}

.footer .widget-title {
    color: #ffffff;
}
.widget-title {
    font: normal 16px / 26px "Poppins", Helvetica, Arial, Verdana, sans-serif;
    text-transform: none;
    color: #f36944;
}
.widget-title {
    margin-bottom: 15px;
    clear: both;
}

div {
    display: block;
}
.footer .widget, .footer .tp_recent_tweets li {
    font-size: 14px;
    line-height: 25px;
}
.footer .widget {
    color: #85868c;
    padding: 0 25px;
}

.wf-container {
    font-size: 0;
    line-height: 0;
    word-spacing: -4px;
    margin: 0 -22px;
    padding: 0;
}

.pswp, html {
    -webkit-text-size-adjust: 100%;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}


ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.footer .widget, .footer .tp_recent_tweets li {
    font-size: 14px;
    line-height: 25px;
}
.footer .widget {
    color: #85868c;
    padding: 0 25px;
}

.wf-container {
    font-size: 0;
    line-height: 0;
    word-spacing: -4px;
    margin: 0 -22px;
    padding: 0;
}

.pswp, html {
    -webkit-text-size-adjust: 100%;
}

html {
    color: -internal-root-color;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.footer .menu li, .footer .widget_pages li, .footer .custom-menu.dividers-on li, .footer .blogroll li, .footer .qts-lang-menu li {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(133,134,140,0.15);
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.widget .menu li, .widget_pages li, .widget .custom-menu.dividers-on li, .widget .blogroll li, .widget .qts-lang-menu li {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(133,134,140,0.15);
    border-left: none;
    border-right: none;
    border-bottom: none;
}
.custom-menu>li:first-child, .menu>li:first-child, .qts-lang-menu li:first-child, .widget_pages>ul>li:first-child {
    border: none!important;
    margin-top: 0;
    padding-top: 0;
}
.dividers-on.custom-menu li {
    margin: 9px 0 0;
    padding: 10px 0 0;
}
.custom-menu li {
    margin: 6px 0 0;
    padding: 7px 0 0;
}
*, legend {
    padding: 0;
}
*, figure, form {
    margin: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: disc;
}
.footer .widget, .footer .tp_recent_tweets li {
    font-size: 14px;
    line-height: 25px;
}
.footer .widget {
    color: #85868c;
    padding: 0 25px;
}

.wf-container {
    font-size: 0;
    line-height: 0;
    word-spacing: -4px;
    margin: 0 -22px;
    padding: 0;
}

.pswp, html {
    -webkit-text-size-adjust: 100%;
}


.footer .custom-menu a.wp:not(:hover) {
    color: #ffffff !important;
}
.custom-menu a.wp:not(:hover) {
    color: #f36944 !important;
}
.footer .widget a.wp, .footer .widget .post-content .text-secondary {
    color: #85868c;
}

.custom-menu a.wp {
    position: relative !important;
}
.custom-menu a.wp, .menu a.wp, .widget_pages a.wp {
    text-decoration: none !important;
}
.custom-menu a.wp, .widget_nav_menu a.wp {
    display: inline-block !important;
}
a.wp, a.wp:hover {
    color: #f36944 !important;
}
a.wp {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a.wp:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
li {
    text-align: -webkit-match-parent;
}
.breadcrumbs, .contact-info li, .content .widget ul, .fa-ul li, .st-accordion>ul>li, dd, dl, menu, ol, ul {
    list-style: none;
}
ul {
    list-style-type: disc;
}
.footer .widget, .footer .tp_recent_tweets li {
    font-size: 14px;
    line-height: 25px;
}
.footer .widget {
    color: #85868c;
    padding: 0 25px;
}
html, body, body.page, .wf-container > * {
    font: normal 15px / 27px "Poppins", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #000000;
}
.wf-container {
    font-size: 0;
    line-height: 0;
    word-spacing: -4px;
    margin: 0 -22px;
    padding: 0;
}

.pswp, html {
    -webkit-text-size-adjust: 100%;
}

html {
    color: -internal-root-color;
}
.footer .st-accordion li > a:before, .footer .custom-menu a:before {
    background-color: rgba(133,134,140,0.15);
}
.footer .custom-menu a:before, .footer .widget_presscore-custom-menu-1 .custom-menu a:after {
    top: 6px;
}

.custom-menu a:before, .widget_presscore-custom-menu-1 .custom-menu a:after {
    top: 7px;
}
textarea, select, blockquote, .entry-author, .format-aside-content, .format-status-content, .format-link-content, .dt-form button, .dt-btn, #main-slideshow .tp-button, .wpcf7-submit.dt-btn-m, .shortcode-action-bg, .shortcode-action-bg:before, .shortcode-teaser.frame-on, .testimonial-item .ts-viewport, .footer .testimonials.slider-content, .shortcode-code, #main .vc_text_separator div, #main .vc_progress_bar .vc_single_bar, #main .vc_progress_bar .vc_single_bar .vc_label, #main .vc_progress_bar .vc_single_bar .vc_bar, #main .flexslider, .nsu-submit, .mc4wp-form input[type="url"], .mc4wp-form input[type="date"], #main #content .rotatingtweets, #main #content .norotatingtweets, .mc4wp-form form select, #megaMenu ul.megaMenu > li.menu-item, #megaMenu ul.megaMenu > li.menu-item > a, .customSelect, .loading-label, .widget .testimonial-content, .skill, .skill-value, .widget .team-container, .widget .logo-items li, .comment-list .comment > article, .bg-on:not(.fullwidth-img), .blog-content .block-style-widget, #mobile-menu, .testimonial-content, .wpb_content_element .wpb_accordion_header > a:before, .wpb_content_element.dt-accordion-bg-on .wpb_accordion_wrapper .wpb_accordion_header, .twentytwenty-before-label, .twentytwenty-after-label, .btn-cntr a, .photo-scroller .album-share-overlay .share-button.entry-share, .project-navigation, .album-share-overlay, .st-accordion li > a:before, .arrows-accent .prev i, .arrows-accent .next i, .arrows-accent .owl-prev i, .arrows-accent .owl-next i, .round-images .bg-on.team-container:not(.fullwidth-img), .solid-bg .sidebar-content, .solid-bg.sidebar-content .widget, .bg-under-widget .sidebar-content .widget, .ls-container.ls-carousel .ls-nav-prev, .ls-container.ls-carousel .ls-nav-next, .menu-btn, .custom-menu a:before, .small-fancy-datas .fancy-date a {
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
*, *::before, *::after {
    box-sizing: border-box;
}

a.wp{
    margin-left: 5px;
}
.footer .custom-menu a:after {
    color: rgba(133,134,140,0.5);
}
.custom-menu a:after {
    color: rgba(180,181,187,0.999);
}
*, *::before, *::after {
    box-sizing: border-box;
}

#footer .wf-container {
    margin: 0 -25px;
}
.wf-container {
    font-size: 0;
    line-height: 0;
    word-spacing: -4px;
    margin: 0 -22px;
    padding: 0;
}

div {
    display: block;
}


.pswp, html {
    -webkit-text-size-adjust: 100%;
}


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

element.style {
}
.footer .widget, .footer .tp_recent_tweets li {
    font-size: 14px;
    line-height: 25px;
}
.footer .widget {
    color: #85868c;
    padding: 0 25px;
}
.footer .widget {
    margin-bottom: 30px;
}
.footer .widget, .wf-cell, .wf-usr-cell {
    display: inline-block;
    vertical-align: top;
    padding: 0 22px;
}
html, body, body.page, .wf-container > * {
    font: normal 15px / 27px "Poppins", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #000000;
}
.wf-1-4, .wf-span-3 {
    width: 25%;
}
.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, legend {
    padding: 0;
}
*, figure, form {
    margin: 0;
}

.widget .soc-ico {
    padding: 5px 0 10px;
}
.soc-ico {
    overflow: hidden;
}
*, legend {
    padding: 0;
}
*, figure, form {
    margin: 0;
}
user agent stylesheet
div {
    display: block;
}
.footer .widget, .footer .tp_recent_tweets li {
    font-size: 14px;
    line-height: 25px;
}
.footer .widget {
    color: #85868c;
    padding: 0 25px;
}
html, body, body.page, .wf-container > * {
    font: normal 15px / 27px "Poppins", Helvetica, Arial, Verdana, sans-serif;
    word-spacing: normal;
    color: #000000;
}

.footer .widget a, .footer .widget .post-content .text-secondary {
    color: #85868c;
}
#bottom-bar .soc-ico a:hover, #top-bar .soc-ico a:hover, .soc-ico a, .soc-ico a:hover {
    text-decoration: none;
}
.masthead .mega-menu-widgets .soc-ico a, .soc-ico a {
    position: relative;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    margin: 2px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

.filter .filter-extras a, .masthead .mega-menu-widgets .soc-ico a, .soc-ico a {
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: -ms-inline-flex;
}

#bottom-bar {
    font-size: 13px;
    line-height: 23px;
    color: #85868c;
}
#bottom-bar {
    position: relative;
    z-index: 9;
    margin: 0 auto;
}

#main > .wf-wrap, #bottom-bar > .wf-wrap, #footer > .wf-wrap {
    width: 1300px;
}
@media screen and (min-width: 778px)
.masthead:not(.side-header):not(.full-width):not(.side-header-v-stroke):not(.side-header-menu-icon), .side-header .mobile-header-bar, .side-header .top-bar, .wf-wrap {
    padding: 0 50px;
}
.wf-wrap {
    max-width: 100%;
    padding: 0 44px;
    margin: 0 auto;
}
.content, .sidebar, .wf-cell, .wf-usr-cell, .wf-wrap, .wpb_row {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, legend {
    padding: 0;
}
*, figure, form {
    margin: 0;
}
user agent stylesheet
div {
    display: block;
}
#bottom-bar {
    font-size: 13px;
    line-height: 23px;
    color: #85868c;
}

#bottom-bar .wf-container-bottom {
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    box-sizing: border-box;
}
#bottom-bar .wf-container-bottom, .ph-wrap .widget-box {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
}
.wf-container-bottom {
    padding: 10px 0 10px 0;
    min-height: 60px;
}
.wf-container-bottom, #bottom-bar.full-width-line {
    border-top: 1px solid rgba(255,255,255,0.12);
}

#bottom-bar .wf-float-right {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    flex-grow: 1;
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    margin-left: 10px;
    margin-right: 0;
}
.title-left .breadcrumbs, .wf-float-right {
    float: right;
}
*, legend {
    padding: 0;
}
*, figure, form {
    margin: 0;
}
user agent stylesheet
div {
    display: block;
}

#bottom-bar {
    font-size: 13px;
    line-height: 23px;
    color: #85868c;
}

#bottom-bar .mini-nav ul {
    display: block;
}
.breadcrumbs, .contact-info li, .content .widget ul, .fa-ul li, .st-accordion>ul>li, dd, dl, menu, ol, ul {
    list-style: none;
}

#bottom-bar .wf-float-right .mini-nav ul li {
    vertical-align: baseline;
}
.mini-nav li:last-child {
    margin-right: 0;
}
.mini-nav li {
    position: relative;
    display: inline-block;
}
.mini-nav, .mini-nav li, .mini-nav.select-type-menu .menu-select {
    vertical-align: middle;
}
*, legend {
    padding: 0;
}

#footer .soc-ico a:hover .soc-font-icon, #main .soc-ico a:hover .soc-font-icon {
    color: #fff;
}
.masthead .mega-menu-widgets .soc-ico a .soc-font-icon, .soc-ico a .soc-font-icon {
    position: relative;
    z-index: 1;
    font-size: 16px;
}
#page .links-container .icon-portfolio, #page .project-links-container [class*=" icon-portfolio-"], #page .project-links-container [class^=icon-portfolio-], .dt-shortcode-soc-icons [class*=" dt-icon-"], .dt-shortcode-soc-icons [class^=dt-icon-], .owl-carousel [class*=" icon-"], .owl-carousel [class*=" icon-"]:before, .owl-carousel [class^=icon-], .owl-carousel [class^=icon-]:before, .soc-ico [class*=" dt-icon-"], .soc-ico [class^=dt-icon-], [class*=" soc-font-"], [class*=dt-icon-the7], [class*=icomoon-the7-], [class*=the7-mw-], [class*=" icon-portfolio-"], [class*=icon-im-] span, [class*=" icon-ar"], [class^=soc-font-], [class^=dt-icon-the7], [class^=icomoon-the7-], [class^=the7-mw-], [class^=icon-portfolio-], [class^=icon-im-] span, [class^=icon-ar] {
    font-family: icomoon-the7-font!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.screen-reader-text {
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
}
.assistive-text, .says, .screen-reader-text {
    clip: rect(1px,1px,1px,1px);
}
*, legend {
    padding: 0;
}
*, figure, form {
    margin: 0;
}
.footer .widget a, .footer .widget .post-content .text-secondary {
    color: #85868c;
}
.masthead .mega-menu-widgets .soc-ico a, .soc-ico a {
    position: relative;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-flex-pack: center;
    -ms-justify-content: center;
    justify-content: center;
    margin: 2px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

#main .soc-ico a:after, #footer .soc-ico a:after {
    background-color: #f36944;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#page .vc_pie_chart_back, .dt-shortcode-icon .icon-inner:before, .dt-shortcode-icon:before, .dt-shortcode-icon:hover .icon-inner:after, .dt-shortcode-icon:hover:after, .dt-shortcode-soc-icons a:before, .dt-shortcode-soc-icons a:hover:after, .soc-ico a:before, .soc-ico a:hover:after {
    opacity: 1;
}
.dt-shortcode-icon .icon-inner:after, .dt-shortcode-icon:after, .dt-shortcode-icon:hover .icon-inner:before, .dt-shortcode-icon:hover:before, .dt-shortcode-soc-icons a:after, .dt-shortcode-soc-icons a:hover:before, .soc-ico a:after, .soc-ico a:hover:before {
    opacity: 0;
}
.soc-ico a:after, .soc-ico a:before {
    width: 26px;
    height: 26px;
    border-radius: inherit;
    transition: opacity .15s linear;
}
.dt-shortcode-soc-icons a:after, .dt-shortcode-soc-icons a:before, .soc-ico a:after, .soc-ico a:before {
    -webkit-border-radius: inherit;
    -webkit-transition: opacity .15s linear;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
}

.footer .soc-ico a:before {
    background-color: rgba(133,134,140,0.15);
}
.dt-shortcode-icon .icon-inner:after, .dt-shortcode-icon:after, .dt-shortcode-icon:hover .icon-inner:before, .dt-shortcode-icon:hover:before, .dt-shortcode-soc-icons a:after, .dt-shortcode-soc-icons a:hover:before, .soc-ico a:after, .soc-ico a:hover:before {
    opacity: 0;
}
.dt-shortcode-icon:hover .icon-inner:before, .dt-shortcode-icon:hover:before, .dt-shortcode-icon:not(:hover) .icon-inner:after, .dt-shortcode-icon:not(:hover):after, .dt-shortcode-soc-icons a:hover:before, .dt-shortcode-soc-icons a:not(:hover):after, .soc-ico a:hover:before, .soc-ico a:not(:hover):after {
    transition-delay: .1s;
}
.soc-ico a:after, .soc-ico a:before {
    width: 26px;
    height: 26px;
    border-radius: inherit;
    transition: opacity .15s linear;
}
.dt-shortcode-soc-icons a:after, .dt-shortcode-soc-icons a:before, .soc-ico a:after, .soc-ico a:before {
    -webkit-border-radius: inherit;
    -webkit-transition: opacity .15s linear;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
}
#page .vc_pie_chart_back, .dt-shortcode-icon .icon-inner:before, .dt-shortcode-icon:before, .dt-shortcode-icon:hover .icon-inner:after, .dt-shortcode-icon:hover:after, .dt-shortcode-soc-icons a:before, .dt-shortcode-soc-icons a:hover:after, .soc-ico a:before, .soc-ico a:hover:after {
    opacity: 1;
}