{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<div class="box-heading">Peticiones de retiro</div>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr >
						<th class="text-center">Usuario</th>
						<th class="text-center">Metodo</th>
						<th class="text-center">Monto</th>
						<th class="text-center">Fecha</th>	
						<th class="text-center">Status</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for retiro in retiros %}
					<tr class="text-center">
						<td>{{retiro.user.username}}</td>
						<td >{{retiro.metodo}}</td>
						<td >{{retiro.monto}}</td>
						<td >{{retiro.fecha|date('d-m-Y')}}</td>
						<td >{{retiro.status}}</td>
						<td>{% if retiro.status != 'pagado' %}
							<a href="{{ path ('adminPagarRetiro',{'tipo':tipo,'id':retiro.id})}}" class="btn btn-primary">Completar</a>
						{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
