{% extends "base_user.html.twig" %}

{% block css %}
<link rel="stylesheet" href="{{ asset ('user/js/image-picker/image-picker/image-picker.css')}}">
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-12 mb-3">
		<button class="btn btn-success mr-3 guardar">Guardar</button>
		<a  href="{{path ('regalos_index', {'id':evento.id})}}" class="btn btn-primary">Cancelar</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form id="editForm" enctype="multipart/form-data" method="post">
					<div class="row mb-5">
						<div class="col-md-3 text-center"><h6>Editar Evento</h6></div>
					</div>
					<div class="row mt-5">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-12">
									<label for="">{% trans %}Titulo de evento{% endtrans %}</label>
									<input value="{{evento.titulo}}" name="titulo" placeholder="Ejemplo : Grand boda de Emily Rose y Bruce" required class="form-control" type="text">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Nombre(Titular){% endtrans %}</label>
									<input value="{{evento.nombre}}" name="nombre" required class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Apellido{% endtrans %}</label>
									<input value="{{evento.apellido}}" name="apellido" required="" class="form-control" type="text">
								</div>
							</div>
							<label for="">{% trans %}Mail{% endtrans %}</label>
							<input value="{{evento.email}}" name="email" required="" class="form-control" type="text">
							<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Nombre(Adicional){% endtrans %}</label>
									<input class="form-control" name="nombre2" value="{{evento.nombre2}}" type="text">
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Apellido{% endtrans %}</label>
									<input class="form-control" name="apellido2" value="{{evento.apellido2}}"  type="text">
								</div>
							</div>
							<label for="">{% trans %}Mail{% endtrans %}</label>
							<input class="form-control" name="email2" value="{{evento.email2}}"  type="text">
							<div class="row">
								<div class="col-md-12">
									<label for="">{% trans %}Nombre del evento{% endtrans %}</label>
									<input name="titulo" value="{{evento.titulo}}" placeholder="Ejemplo : Grand boda de Emily Rose y Bruce" required class="form-control" type="text"><br>
								</div>
							</div>
						</div>
						<div class="col-md-4 ">
							<div class="img-container">
								<img id="imgSalida" width="330" src="{{ asset ('img/allImg/'~evento.image)}}" alt="">
							</div>
							<input name="image" id="file-input" class="form-control" type="file">
						</div>
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-6">
									<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Fecha del evento{% endtrans %}</label><input name="fecha" required="" value="{{evento.fecha|date('Y-m-d')}}" type="date" class="form-control">
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Cantidad de invitados{% endtrans %}</label><input name="invitados" value="{{evento.invitados}}" required="" type="number" class="form-control">
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Pais del evento{% endtrans %}</label>
									<select class="form-control" name="pais" id="pais">
										{% for pais in paises %}
										<option {% if evento.pais.pais == pais.pais %}selected{% endif %} value="{{pais.id}}">{{pais.pais}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Ciudad{% endtrans %}</label>
									<select class="form-control" name="ciudad" id="ciudades">
										{% for ciudad in ciudades %}
										    <option {% if evento.ciudad == ciudad.ciudad %}selected{% endif %} value="{{ciudad.ciudad}}">{{ciudad.ciudad}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-12 mt-4 text-center">
							</div>
							</div>
								</div>
								<div class="col-md-6 text-center">
									<div class="row ">
										<div class="col-md-6"><label for="">{% trans %}lugar del evento{% endtrans %}</label><input id="mapa1" value="{{evento.mapa1}}" name="mapa1" type="text" class="form-control"></div>
										<div class="col-md-6"><label for="">{% trans %}nombre de la ubicacion{% endtrans %}</label><input value="{{evento.lugarEvento1}}" type="text" name="lugar1" class="form-control mapa"></div>
									</div>
									<div class="row">
										<div class="col-md-6"><label for="">{% trans %}lugar del evento{% endtrans %}</label><input id="mapa2" value="{{evento.mapa2}}" name="mapa2" type="text" class="form-control"></div>
										<div class="col-md-6"><label for="">{% trans %}nombre de la ubicacion{% endtrans %}</label><input value="{{evento.lugarEvento2}}" type="text" name="lugar2" class="form-control mapa"></div>
									</div>
									<div class="row">
										<div class="col-md-6"><label for="">{% trans %}lugar del evento{% endtrans %}</label><input id="mapa3" value="{{evento.mapa3}}" name="mapa3" type="text" class="form-control"></div>
										<div class="col-md-6"><label for="">{% trans %}nombre de la ubicacion{% endtrans %}</label><input value="{{evento.lugarEvento3}}" type="text" name="lugar3"  class="form-control mapa"></div>
									</div>
								</div>
							</div>

							<label for="">{% trans %}Tell About you{% endtrans %}</label>
							<textarea name="about" class="form-control" name="" id="" cols="30" placeholder="{% trans %}¡Nos casamos y estamos muy contentos de poder compartir nuestra alegría con todos ustedes! Acá van a encontrar toda la información del casamiento. ¡Los esperamos!{% endtrans %}" rows="3">{{evento.about}}</textarea>
							<br>
							<div class="row mt-3">
								<button class="btn btn-success mr-3 guardar">Guardar</button>
								<a  href="{{path ('eventos_index')}}" class="btn btn-primary">Volver</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx5syL0jRIx6U17sIZlBb7QnC2ly1UMtc&libraries=places&callback=initMap"async defer></script>
<script>
$('.guardar').click(function(){
	$('#editForm').submit();
})
// Mostrar imagenes
$(window).on('load' ,function(){

	$(function() {
		$('#file-input').change(function(e) {
			addImage(e); 
		});

		function addImage(e){
			var file = e.target.files[0],
			imageType = /image.*/;

			if (!file.type.match(imageType))
				return;

			var reader = new FileReader();
			reader.onload = fileOnload;
			reader.readAsDataURL(file);
		}

		function fileOnload(e) {
			var result=e.target.result;
			$('#imgSalida').attr("src",result);
		}
	});
});
function initMap(){
	var input = document.getElementById('mapa1');
	var input2 = document.getElementById('mapa2');
	var input3 = document.getElementById('mapa3');
	var autocomplete = new google.maps.places.Autocomplete(input);
	var autocomplete2 = new google.maps.places.Autocomplete(input2);
	var autocomplete3 = new google.maps.places.Autocomplete(input3);
}
  $('#pais').change(function(){
  	datos = 'pais='+$('#pais').val();
  	$.ajax({
      type:"POST",
      url:"{{path ('getCiudades')}}",
      data:datos,
      success:function(result){
      	$('#ciudades').html(' ');
      	let ciudades = JSON.parse(result);
      	for (var i = 0; i < ciudades.length; i++) {
      		ciudades[i]
      		$('#ciudades').append(`<option value="${ciudades[i].ciudad}">${ciudades[i].ciudad}</option>`)
      	}
        	// '<option value=""></option>'
    }

  });
  });
</script>
{% endblock %}
