{% extends "base_user.html.twig" %}

{% block body %}
<div class="row">
	<a class="btn btn-success ml-5 float-right mb-2" href="{{ path ('eventos_new')}}">{%trans%}Crear evento nuevo {%endtrans%}</a>
	<div class="col-md-12">
		{#
			<div class="text-center mb-3">
			<h6>Crear nueva lista <a class="text-red" href="{{ path ('eventos_new')}}">Click aca</a></h6>
		</div>
		<h1 class="text-red h3">Mis listas</h1>
		<table class="tabla">
			<thead>
				<tr class="text-center text-red">
					<th>Tipo de lista</th>
					<th>Fecha de evento</th>
					<th>Nombre Titular</th>
					<th>Nombre Adicional</th>
					<th>Monto total recaudados</th>
					<th></th>
				</tr>
			</thead>
			<tbody >
				{% for lista in listas %}
				<tr class="text-center">
					<td class="border-table">{{lista.tipoLista}}</td>
					<td class="border-table">{{lista.fecha|date('d-m-Y')}}</td>
					<td class="border-table">{{lista.nombre}}</td>
					<td class="border-table">{{lista.nombre2}}</td>
					<td class="border-table">{{lista.contribucion}}</td>
					<td>
						<a data-toggle="tooltip" data-placement="top" title="Ver lista" class="hover-red" href="{{ path ('regalos_index',{'id':lista.id})}}">
							<i class="fa fa-gift text-dark gift"></i>
							<span class="text-red">Ver lista</span>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		#}

		<div class="card">
			<div class="card-header">{%trans%}Mis Eventos {%endtrans%}</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="dataTable" class="table table-striped table-bordered">
						<thead>
							<tr class="text-center">
								<th>{%trans%}Tipo de lista {%endtrans%}</th>
								<th>{%trans%}Nombre del evento {%endtrans%}</th>
								<th>{%trans%}Fecha de evento {%endtrans%}</th>
								<th>{%trans%}Nombre Titular {%endtrans%}</th>
								<th>{%trans%}Nombre Adicional {%endtrans%}</th>
								<th>{%trans%}Monto total recaudados {%endtrans%}</th>
								<th>{%trans%}Acciones {%endtrans%}</th>
							</tr>
						</thead>
						<tbody>
							{% for lista in listas %}
							<tr class="text-center">
								<td>{{lista.tipo.tipo}}</td>
								<td>{{lista.titulo}}</td>
								<td>{{lista.fecha|date('d-m-Y')}}</td>
								<td>{{lista.nombre}}</td>
								<td>{{lista.nombre2}}</td>
								<td>{{lista.contribucion}}</td>
								<td>
								{#
								<a class="btn btn-warning btn-sm"  data-toggle="tooltip" data-placement="top" title="Editar" href="{{path ('eventos_edit',{'id':lista.id})}}"><i class="fa fa-pencil-alt"></i></a>
								#}
								<!-- <a class="btn btn-danger btn-sm"  data-toggle="tooltip" data-placement="top" title="eliminar" href="#"><i class="fa fa-trash"></i></a> -->
								<a class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="top" title="compartir" href="{{path ('eventos_share',{'id':lista.id ,'nombre':lista.titulo|replace({' ':''})})}}" ><i class="fa fa-share"></i></a>
								<a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="regalos"  href="{{ path ('regalos_index',{'id':lista.id})}}"><i class="fa fa-gift"></i></a>
							</td>
						</tr>
						{% endfor %}
						{% if evento %}
						<tr class="text-center">
							<td>{{evento.tipo.tipo}}</td>
							<td>{{evento.titulo}}</td>
							<td>{{evento.fecha|date('d-m-Y')}}</td>
							<td>{{evento.nombre}}</td>
							<td>{{evento.nombre2}}</td>
							<td>{{evento.contribucion}}</td>
							<td>
								{#
								<a class="btn btn-warning btn-sm"  data-toggle="tooltip" data-placement="top" title="Editar" href="{{path ('eventos_edit',{'id':evento.id})}}"><i class="fa fa-pencil-alt"></i></a>
								#}
								<!-- <a class="btn btn-danger btn-sm"  data-toggle="tooltip" data-placement="top" title="eliminar" href="#"><i class="fa fa-trash"></i></a> -->
								<a class="btn btn-primary btn-sm"  data-toggle="tooltip" data-placement="top" title="compartir" href="{{path ('eventos_share',{'id':evento.id ,'nombre':evento.titulo|replace({' ':''})})}}" ><i class="fa fa-share"></i></a>
								<a class="btn btn-success btn-sm" data-toggle="tooltip" data-placement="top" title="regalos"  href="{{ path ('regalos_index',{'id':evento.id})}}"><i class="fa fa-gift"></i></a>
							</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
$('#dataTable').DataTable();
</script>
{% endblock %}
