{% extends 'base_user.html.twig' %}

{% block body %}
		<h1>{% trans%}Email Enviado {% endtrans%}</h1>
    <a class="btn btn-lg btn-success" href="{{path ('eventos_share',{'nombre':evento.titulo|replace({' ':''}),'id':evento.id})}}">{% trans%}Volver{% endtrans%}</a>
{% endblock %}