{% extends "base_user.html.twig" %}

{% block css %}
<link rel="stylesheet" href="{{ asset ('user/js/image-picker/image-picker/image-picker.css')}}">
{% endblock %}
{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<form enctype="multipart/form-data" method="post">
					<div class="row mb-5">
						<div class="col-md-3 text-center"><h6>{% trans %}Crea tu Evento{% endtrans %}</h6></div>
						<div class="col-md-2">
							<select class="form-control" name="tipo" id="">
								{% for tipo in tipos %}
									<option value="{{tipo.id}}">{{tipo.tipo|trans}}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row mt-5">
						<div class="col-md-8">
							<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Nombre(Titular){% endtrans %}</label>
									<input id="nombre" name="nombre" required class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Apellido{% endtrans %}</label>
									<input id="apellido" name="apellido" required="" class="form-control" type="text">
								</div>
							</div>
							<label for="">{% trans %}Mail{% endtrans %}</label>
							<input name="email" required="" value="{{app.user.username}}" class="form-control" type="email">
							<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Nombre(Adicional){% endtrans %}</label>
									<input id="nombre2" name="nombre2" class="form-control" type="text">
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Apellido{% endtrans %}</label>
									<input id="apellido2" name="apellido2" class="form-control" type="text">
								</div>
							</div>
							<label for="">{% trans %}Mail{% endtrans %}</label>
							<input name="email2" class="form-control" type="text">
							<div class="row">
								<div class="col-md-12">
									<label for="">{% trans %}Nombre del evento{% endtrans %}</label>
									<input id="titulo" name="titulo" placeholder="Ejemplo : Grand boda de Emily Rose y Bruce" required class="form-control" type="text"><br>
								</div>
							</div>
						</div>

						<div class="col-md-4 ">
							<div class="img-container">
								<img id="imgSalida" width="330" src="" alt="">
							</div>
							<input name="image" id="file-input" class="form-control" type="file">
						</div>
						<div class="col-md-12">

							<div class="row">
								<div class="col-md-6">
									<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Fecha del evento{% endtrans %}</label><input name="fecha" required="" type="date" class="form-control">
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Cantidad de invitados{% endtrans %}</label><input name="invitados" required="" type="number" class="form-control">
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<label for="">{% trans %}Pais del evento{% endtrans %}</label>
									<select required class="form-control" name="pais" id="pais">
										<option value="">Seleccione un pais</option>
										{% for pais in paises %}
										<option value="{{pais.id}}">{{pais.pais}}</option>
										{% endfor %}
									</select>
								</div>
								<div class="col-md-6">
									<label for="">{% trans %}Ciudad{% endtrans %}</label>
									<select required class="form-control" name="ciudad" id="ciudades">
										<option  value="">Seleccione una ciudad</option>
									</select>
								</div>
								<div class="col-md-12 mt-4 text-center">
								<label for="">{% trans %}Precio Fijo{% endtrans %}</label>
								<input required type="radio" name="tipoCobro" class="blue" value="fijo">
								<label for="">{% trans %}Por porcentaje{% endtrans %}</label>
								<input required type="radio" name="tipoCobro" class="blue" value="porcentaje">
							</div>
							</div>
								</div>
								<div class="col-md-6 text-center">
									<div class="row ">
										<div class="col-md-6"><label for="">{% trans %}Direccion del evento{% endtrans %}</label><input id="mapa1" name="mapa1" type="text" class="form-control"></div>
										<div class="col-md-6"><label for="">{% trans %}Nombre del evento{% endtrans %}</label><input  type="text" name="lugar1" class="form-control mapa"></div>
									</div>
									<div class="row">
										<div class="col-md-6"><label for="">{% trans %}Direccion del evento{% endtrans %}</label><input id="mapa2" name="mapa2" type="text" class="form-control"></div>
										<div class="col-md-6"><label for="">{% trans %}Nombre del evento{% endtrans %}</label><input type="text" name="lugar2" class="form-control mapa"></div>
									</div>
									<div class="row">
										<div class="col-md-6"><label for="">{% trans %}Direccion del evento{% endtrans %}</label><input id="mapa3" name="mapa3" type="text" class="form-control"></div>
										<div class="col-md-6"><label for="">{% trans %}Nombre del evento{% endtrans %}</label><input type="text" name="lugar3"  class="form-control mapa"></div>
									</div>
								</div>
							</div>
							
							<label for="">{% trans %}Tell About you{% endtrans %}</label>
							<textarea name="about" class="form-control" name="" id="" cols="30" placeholder="{% trans %}¡Nos casamos y estamos muy contentos de poder compartir nuestra alegría con todos ustedes! Acá van a encontrar toda la información del casamiento. ¡Los esperamos!{% endtrans %}" rows="3"></textarea><br>
							<h6>{% trans %}Elija su tipo de lista de regalos{% endtrans %}</h6><br>
							<select name="tipoLista" id="image-picker" class="image-picker show-labels show-html" >
								<option data-img-src="http://placekitten.com/220/200" value="clasica">{% trans %}CLASICA{% endtrans %}</option>
								<option data-img-src="http://placekitten.com/270/200" value="simple">{% trans %}SIMPLIFICADA{% endtrans %}</option>
							</select><br><br>
							<div class="text-center">
								<label for="">{% trans %}Acepto los {% endtrans %}</label>
								<a class="terminos" target="_blank" href="{{path ('terminosYCondiciones')}}">{% trans %}Terminos y condiciones {% endtrans %}</a>
								<input required type="checkbox">
								<br><br>
								<button class="btn btn-primary btn-lg ">{% trans %}CREAR EVENTO {% endtrans %}</button>
							</div>
							<div class="row mt-3">
								<div class="col-md-6 offset-md-3">
									<div class="card">
										<div class="card-body">
											<p style="font-size:10px">{% trans %}Los Usuarios comprenden que los productos incluidos en la lista de regalos son totalmente ficticios, son presentados a modo meramente referencial, con el único fin de que los Novios den un marco de referencia a los Invitados en relación a qué tipo de productos podrían comprar los Novios con el dinero recaudado.(ver mas:terminos y condiciones){% endtrans %}</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script src="{{ asset ('user/js/image-picker/image-picker/image-picker.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx5syL0jRIx6U17sIZlBb7QnC2ly1UMtc&libraries=places&callback=initMap"
        async defer></script>
<script>

$('#nombre').keyup(function(){
	$('#titulo').val($('#nombre').val()+' '+$('#apellido').val()+' & '+$('#nombre2').val()+' '+$('#apellido2').val());
});

$('#apellido').keyup(function(){
	$('#titulo').val($('#nombre').val()+' '+$('#apellido').val()+' & '+$('#nombre2').val()+' '+$('#apellido2').val());
});

$('#nombre2').keyup(function(){
	$('#titulo').val($('#nombre').val()+' '+$('#apellido').val()+' & '+$('#nombre2').val()+' '+$('#apellido2').val());
});

$('#apellido2').keyup(function(){
	$('#titulo').val($('#nombre').val()+' '+$('#apellido').val()+' & '+$('#nombre2').val()+' '+$('#apellido2').val());
});

$("#image-picker").imagepicker();
    // Mostrar imagenes
    $(window).on('load' ,function(){

    	$(function() {
    		$('#file-input').change(function(e) {
    			addImage(e); 
    		});

    		function addImage(e){
    			var file = e.target.files[0],
    			imageType = /image.*/;

    			if (!file.type.match(imageType))
    				return;

    			var reader = new FileReader();
    			reader.onload = fileOnload;
    			reader.readAsDataURL(file);
    		}

    		function fileOnload(e) {
    			var result=e.target.result;
    			$('#imgSalida').attr("src",result);
    		}
    	});
    });
  function initMap(){
  	var input = document.getElementById('mapa1');
  	var input2 = document.getElementById('mapa2');
  	var input3 = document.getElementById('mapa3');
  	var autocomplete = new google.maps.places.Autocomplete(input);
  	var autocomplete2 = new google.maps.places.Autocomplete(input2);
  	var autocomplete3 = new google.maps.places.Autocomplete(input3);
  }

  $('#pais').change(function(){
  	datos = 'pais='+$('#pais').val();
  	$.ajax({
      type:"POST",
      url:"{{path ('getCiudades')}}",
      data:datos,
      success:function(result){
      	$('#ciudades').html(' ');
      	let ciudades = JSON.parse(result);
      	for (var i = 0; i < ciudades.length; i++) {
      		ciudades[i]
      		$('#ciudades').append(`<option value="${ciudades[i].id}">${ciudades[i].ciudad}</option>`)
      	}
        	// '<option value=""></option>'
    }

  });
  })
;
</script>
{% endblock %}
