{% extends 'base_user.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-10 mb-3 offset-md-1 text-right">
				<a class="btn btn-primary" href="{{ path ('regalos_index',{'id':evento.id})}}">{%trans%}Regalos{%endtrans%}</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1 m-b-5">
				<div class="card">
					<div class="card-header">
						{%trans%}Compartir el evento con tus amigos{%endtrans%}
					</div>
					<div class="card-body">
						<p>{%trans%}Tu link de evento{%endtrans%} : <a href="{{link}}">{{link}}</a></p>
						<div class="row mb-5 mt-5 text-center">
							<div class="col-md-3">
								<a class="btn btn-primary" href="https://www.facebook.com/sharer/sharer.php?u={{link}}" target="_blank"><i class="fab fa-facebook mr-1"></i><span>{%trans%}Compartir en facebook{%endtrans%}</span></a>
							</div>
							<div class="col-md-3">
								<a class="btn btn-info" href="https://twitter.com/intent/tweet?url={{link}}" target="_blank"><i class="fab fa-twitter mr-1"></i><span>{%trans%}Compartir en twitter{%endtrans%}</span></a>
							</div>
							<div class="col-md-3">
								<a class="btn btn-success" href="https://api.whatsapp.com/send?text={{link}}" target="_blank"><i class="fab fa-whatsapp-square mr-1"></i><span>{%trans%}Compartir en whatsapp{%endtrans%}</span></a>
							</div>
						</div>
						<form method="post" id="formMails">
							<label for="">{%trans%}Enviar emails{%endtrans%}</label>
							<textarea name="mails" class="form-control" name="" placeholder="{%trans%}Puede ingresar varios mails, separados por comas{%endtrans%}: {%trans%}Ejemplo {%endtrans%}: mail1@mail.com, mail2@mail.com " id="" cols="30" rows="3"></textarea>
						</form>
						<br><br>
						<div class="text-center">
							<button id="sendMails" class="btn btn-success ml-2">{%trans%}Compartir{%endtrans%}</button>
							<a href="{{ path ('regalos_index' , {'id':evento.id})}}" class="btn btn-info">{% trans%}Compartir mas tarde {% endtrans%}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-10 offset-md-1 mt-5">
				<div class="card">
					<div class="card-header">{%trans%}Imprimir invitaciones {%endtrans%}</div>
					<div class="card-body">
						<div class="row">
							<div class="col-md-6 text-center"><img src="{{ asset ('img/allImg/xelebra.png')}}" class="img-responsive" alt=""><br>
								<a href="{{ path ('print_ingles')}}" class="btn btn-info mt-2">Download English</a>
							</div>
							<div class="col-md-6 text-center"><img src="{{ asset ('img/allImg/xelebra.png')}}" class="img-responsive" alt=""><br>
								<a href="{{ path ('print_español')}}" class="btn btn-info mt-2">Descargar Español</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
  <script>
  	$('#sendMails').click(function(){
  		$('#formMails').submit();
  	})
  	;
  </script>
{% endblock %}