{% extends 'base_user.html.twig' %}

{% block body %}
    <div class="row">
    	<div class="card">
    		<div class="card-body">
    		<div class="card-title text-center"><h3>{%trans%}Terminos y condiciones{%endtrans%}</h3></div>
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sint quas ipsum exercitationem, repellat distinctio, reprehenderit beatae tempore provident nostrum vitae totam harum sequi vel dignissimos earum. Possimus sit, culpa.
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sint quas ipsum exercitationem, repellat distinctio, reprehenderit beatae tempore provident nostrum vitae totam harum sequi vel dignissimos earum. Possimus sit, culpa.
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sint quas ipsum exercitationem, repellat distinctio, reprehenderit beatae tempore provident nostrum vitae totam harum sequi vel dignissimos earum. Possimus sit, culpa.
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sint quas ipsum exercitationem, repellat distinctio, brreprehenderit beatae tempore provident nostrum vitae totam harum sequi vel dignissimos earum. Possimus sit, culpa.
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sint quas ipsum exercitationem, repellat distinctio, reprehenderit beatae tempore provident nostrum vitae totam harum sequi vel dignissimos earum. Possimus sit, culpa.
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sint quas ipsum exercitationem, repellat distinctio, reprehenderit beatae tempore provident nostrum vitae totam harum sequi vel dignissimos earum. Possimus sit, culpa.
    			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias sint quas ipsum exercitationem, repellat distinctio, reprehenderit beatae tempore provident nostrum vitae totam harum sequi vel dignissimos earum. Possimus sit, culpa.
    		</div>
    	</div>
    </div>
{% endblock %}