{% extends "::base.html.twig" %}

{% block body %}
<!-- <div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="#">Nuevo</a>
	</div>
</div> -->
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<h3 class="box-title">Eventos</h3>
			<form method="post">
				<label for="">Texto</label>
				<textarea name="texto" class="form-control" cols="30" rows="4">{{editable.texto}}</textarea><br>
				<button class="btn btn-warning">Editar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
