{% extends "::base.html.twig" %}

{% block body %}
<!-- <div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="#">Nuevo</a>
	</div>
</div> -->
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<h3 class="box-title">Eventos </h3>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr >
						<th class="text-center">Id</th>
						<th class="text-center">Seccion</th>
						<th class="text-center">Texto</th>
						<th class="text-center">Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for editable in editables %}
					<tr class="text-center">
						<td>{{ editable.id }}</td>
						<td>{{ editable.seccion }}</td>
						<td>{{ editable.texto }}</td>
						<td>
							<a href="{{ path ('editables_edit',{'id':editable.id})}}" class="btn btn-warning" href="">Editar</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
