{% extends 'base_user.html.twig' %}
{% block body %}
    <div class="text-center">
    	<h1>Usuario o clave incorrectas</h1>
    	<br>
    	<a class="btn btn-success" href="{{ path ('login')}}">Volver</a>
    </div>
{% endblock %}