{% extends 'base_user.html.twig' %}
{% block body %}

<div class="row">
 <div class="col-md-6 offset-md-3">
  <div class="card card-login">
    <div class="card-body">
      <div class="row ">
        {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="col-md-12">
          <div class="alert alert-success" role="alert">
            <h6>{{ flash_message }}</h6>
          </div>
        </div>
        {% endfor %}
        <div class="col-md-12 text-center mb-3">
          <h3 class="text-dark">{%trans%}Ingresar en tu cuenta{%endtrans%}</h3>
        </div>
        <div class="col-md-12">
            {#
          {% if error %}
          <div class="text-center">
            <p class="text-danger">
              {{ error.messageKey|trans(error.messageData, 'security')|replace({"Invalid credentials." : "Email o contraseña invalidas"}) }}
            </p>
          </div>
          {% endif %}
              #}
        </div>
        <div class="col-md-6 text-center">
         <form  method="POST" action="{{ path ('login')}}">
          <input class="form-control mb-2" name="_username" required placeholder="Email" type="email">
          <input class="form-control mb-2" name="_password" required placeholder="{%trans%}Contraseña{%endtrans%}" type="password">
          <button class="btn btn-success btn-block">{%trans%}Ingresar{%endtrans%}</button>
          <a href="{{ path ('users_forgotPw')}}">{%trans%}Olvidaste tu contraseña?{%endtrans%}</a>
        </form>
        </div>
      <div class="col-md-6 mt-3">
        <a href="{{ path ('google_start')}}" class="btn btn-danger btn-block">{%trans%}Logear con gmail{%endtrans%}</a>
        <a href="{{ path ('facebook_start')}}" class="btn btn-primary btn-block">{%trans%}Logear con facebook{%endtrans%}</a>
      </div>
      <div class="col-md-12 text-center mt-5">
        <h3 class="text-dark" >{%trans%}Primera vez ? No tenes cuenta ?{%endtrans%}</h3>
        <a class="btn btn-success btn-lg mt-2" href="{{ path ('users_register')}}">{%trans%}Registrarse{%endtrans%}</a>
      </div>
    </div>
  </div>
</div>
</div> 
</div>
{% endblock %}
