{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="{{ path ('AdminRegalos_new')}}">Nuevo</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<div class="box-heading">Regalos</div>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre</th>
						<th>Descripcion</th>
						<th>Lista</th>
						<th>Categoria</th>
						<th>Precio</th>
						<th>Sugerido</th>
						<th>Imagen</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for regalo in regalos %}

					<tr>
						<td>{{ regalo.id}}</td>
						<td>{{ regalo.nombre}}</td>
						<td>{{ regalo.descripcion}}</td>
						<td>{{regalo.lista|replace({'simple':'Simplificada','clasica':'Clasica'})}}</td>
						<td>{{regalo.categoria.categoria}}</td>
						<td>{{ regalo.precio}}</td>
						<td>{{ regalo.sugerido}}</td>
						<td>
							{% if regalo.image|slice(0,3) == 'htt' %}
							<img src="{{regalo.image}}" height="50" alt="">
							{% else %}
							<img src="{{ asset ('img/allImg/'~regalo.image) }}" height="50" alt="">
							{% endif %}
						</td>
						<td>
							<a href="{{ path ('AdminRegalos_edit',{'id':regalo.id})}}" class="btn btn-warning">Editar</a>
							<a href="{{ path ('AdminRegalos_del',{'id':regalo.id})}}" class="btn btn-danger">borrar</a></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
$('#MyTable').DataTable();
</script>
{% endblock %}
