{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="white-box">
			<div class="box-title">Nuevo regalo</div>
			<form method="post" enctype="multipart/form-data">
				<label for="">Nombre</label>
				<input name="nombre" placeholder="nombre" type="text" class="form-control">
				<label for="">Descripcion</label>
				<input name="descripcion" placeholder="descripcion" type="text" class="form-control">
				<label for="">Categoria</label>
				<select class="form-control" name="categoria" id="">
					{% for categoria in categorias %}
						<option value="{{categoria.id}}">{{categoria.categoria}}</option>
					{% endfor %}
				</select>
				<label for="">Tipo de lista</label>
				<select class="form-control" name="lista" id="">
						<option  value="simple">Simplificada</option>
						<option value="clasica">Clasica</option>
				</select>
				<label for="">Precio</label>
				<input name="precio" placeholder="precio" type="number" class="form-control">
				<label for="">Precio sugerido</label>
				<input name="sugerido" placeholder="precio sugerido" type="number" class="form-control">
				<label for="">Imagen</label>
				<input name="image" type="file" class="form-control">
				<br>
				<button class="btn btn-primary">Enviar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>

</script>
{% endblock %}
