<style>
th{
	text-align: center;
	background: #D7D5D5;
}
td{
	text-align: center;
	white-space:pre ;
}
.tabla{
	width: 10000px;
}
</style>
<page>
	<table style="margin-left:28px;" class=" tabla" >
		<tr >
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
		</tr>
		<tr >
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
		</tr>
		<tr >
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
		</tr>
		<tr >
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
		</tr>
		<tr >
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
			<td><img src="img/allImg/xelebra.png" width="233" alt=""></td>
		</tr>
	</table>
</page>

