{% extends "base_user.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-12">
		<div class="mb-3">
			<h1 class="text-dark">{%trans%}Evento{%endtrans%}</h1>
			<a class="btn btn-success ml-5 float-right mb-2" href="{{ path ('eventos_new')}}">{% trans%}Crear evento nuevo{% endtrans%}</a>
			{% if eventos|length > 1 %}
			<a class="btn btn-info ml-5 float-right mb-2" href="{{ path ('eventos_index')}}">{% trans%}Ver todos mis eventos{% endtrans%}</a>
			{% endif %}			
		</div>
		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr class="text-center">
					<th>{% trans%}Tipo de lista{% endtrans%}</th>
					<th>{% trans%}Fecha de evento{% endtrans%}</th>
					<th>{% trans%}Nombre Titular{% endtrans%}</th>
					<th>{% trans%}Nombre Adicional{% endtrans%}</th>
					<th>{% trans%}Monto total recaudados{% endtrans%}</th>
					<th>{% trans%}Acciones{% endtrans%}</th>
				</tr>
			</thead>
			<tbody >
				<tr class="text-center">
					<td >{{evento.tipo.tipo}}</td>
					<td >{{evento.fecha|date('d-m-Y')}}</td>
					<td >{{evento.nombre}}</td>
					<td >{{evento.nombre2}}</td>
					<td >{{evento.contribucion}}</td>
					<td>
						<a data-toggle="tooltip" data-placement="top" title="Editar" class="text-dark ml-2" href="{{ path ('eventos_edit',{'id':evento.id})}}"><i class="fa fa-pen gift"></i></a>
						<a data-toggle="tooltip" data-placement="top" title="Compartir" class="text-dark ml-2" href="{{ path ('eventos_share',{'id':evento.id ,'nombre':evento.titulo})}}"><i class="fa fa-share gift"></i></a>
						<a data-toggle="tooltip" data-placement="top" title="Retirar" class="text-dark ml-2" href=""><i class="fa fa-money-bill gift"></i></a>
						<a data-toggle="tooltip" data-placement="top" title="Muro" class="text-dark ml-2" href=""><i class="fab fa-rocketchat gift"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
		<table class="table table-bordered table-striped mt-5 mb-5">
			<thead class="thead-dark">
				<tr class="text-center">
					<th>{% trans%}Nombre{% endtrans%}</th>
					<th>{% trans%}Email{% endtrans%}</th>
					<th>{% trans%}Regalo{% endtrans%}</th>
					<th>{% trans%}Fecha {% endtrans%}</th>
					<th>{% trans%}Dedicatoria{% endtrans%}</th>
					<th>{% trans%}Retirado{% endtrans%}</th>
					<th>{% trans%}Monto{% endtrans%}</th>
					<th>{% trans%}Agradecimiento{% endtrans%}</th>
					<th>{% trans%}Agradeci?{% endtrans%}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for regalo in regalos %}
				<tr class="text-center">
					<td >{{regalo.nombre}}</td>
					<td class="table-secondary"><span class="text-blue">{{regalo.email}}</span></td>
					<td >{{regalo.regalo.nombre}}</td>
					<td >03/11/2019</td>
					<td >{{regalo.mensaje}}</td>
					<td >SI</td>
					<td class="table-primary">{{regalo.contribucion|number_format(2,'.','')}}$ {% if evento.pais.codigo == 'AR' %}ARS {% else %}USD{% endif %}</td>
					<td >{% if regalo.agradecer == 'si' %}{{regalo.agradecerMensaje}}{% endif %}</td>
					<td >{% if regalo.agradecer == 'si' %} Ya agradeciste{% endif %}</td>
					<td>
						{% if regalo.agradecer != 'si' %}
						<button id="agradecer" onclick="openAgradecer({{regalo.id}})" class="btn btn-primary text-left">{% trans%}Agradecer{% endtrans%}</button>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="row">
			<div class="col-md-5 offset-md-3 mt-5">
				<table class="table table-bordered  mb-5">
					<tbody class="text-center">
						<tr >
							<td >{% trans%}Dinero en cuenta{% endtrans%} Xelebra</td>
							<td >$ {{evento.saldo}}</td>
						</tr>
						<tr>
							<td >{% trans%}Disponible{% endtrans%}</td>
							<td ><span>$ {{evento.saldo}}</span></td>
						</tr>
						<tr>
							<td >{% trans%}A liberar {% endtrans%}(<a href="#" data-toggle="modal" data-target="#exampleModal">{% trans%}ver detalle{% endtrans%}1</a>)</td>
							<td >$ {{evento.saldo}}</td>
						</tr>
						<tr>
							<td >{% trans%}Retiros{% endtrans%}(<a href="#" data-toggle="modal" data-target="#modal1">{% trans%}ver detalle{% endtrans%}2</a>)</td>
							<td >$ {{retiroPendiente}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-2 mt-5">
				{% if evento.pais.codigo == 'AR' %}
				<a href=" {{ path ('retiro_new',{'evento': evento.id})}}" class="btn btn-success mt-5"><i class="fa fa-money-bill gift"></i> {% trans%}Retirar Dinero {% endtrans%}</a>
				{% else %}
				<a href=" {{ path ('retiro_newUSA',{'evento': evento.id})}}" class="btn btn-success mt-5"><i class="fa fa-money-bill gift"></i> {% trans%}Retirar Dinero {% endtrans%}</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<div id="modalAgradecer" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header bg-primary">
				<div class="col-md-4 center-item text-white mt-2 font-25"><i class="fa fa-gift"></i></div>
				<div class="col-md-4 text-white font-25 text-center">{% trans%}Agradecer{% endtrans%}</div>
				<div class="col-md-4">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">X</span>
					</button>
				</div>
			</div>
			<div class="modal-body">
				<form method="post">
					<input type="hidden" id="regaloevento" name="idregalo">
					<textarea class="form-control" name="mensaje" id="" cols="30" rows="10"></textarea><br>
					<button class="btn btn-primary">{% trans%}Agradecer{% endtrans%}</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{% trans%}Cuando se libera mi dinero{% endtrans%} ?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				{% for mes,dia in data %}
				{% if dia|length %}
				<div class="card mb-4">
					<div class="card-body">
						<table class="table">
							<tbody>
								<tr><th colspan="3">{{ mes }}</th></tr>
								{% for dia,regalos in dia %}
								<tr>
									<th colspan="2">{{ mes }} {{ dia }} ({{regalos.gifts|length}} regalos)</th>
									<th>{{regalos.total|number_format(2,'.','')}}</th>
									<th class="text-right"><button class="btn btn-danger btn-dropdown"><i class="fa fa-arrow-down"></i></button></th>
								</tr>
								<tbody style="display:none">
									{% for regalo in regalos.gifts %}
									<tr>
										<td>{{regalo.nombre}}</td>
										<td>{{regalo.email}}</td>
										<td>{{regalo.contribucion|number_format(2,'.','')}}</td>
										<td></td>
									</tr>
									{% endfor %}
								</tbody>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{% trans%}Retiros{% endtrans%}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-bordered ">
					<tbody class="text-center" >
						<tr>
							<td >{% trans%}Retiros Transferidos{% endtrans%}</td>
							<td >${{retiroPagado|number_format(2,'.','')}}</td>
						</tr>
						<tr>
							<td >{% trans%}Retiros en proceso{% endtrans%} (<a href="#" data-toggle="modal" data-target="#modal2">{% trans%}mas info{% endtrans%}</a>)</td>
							<td >$ {{retiroPendiente|number_format(2,'.','')}}</td>
						</tr>
						<tr>
							<td >{% trans%}Dinero en cuenta {% endtrans%} Xelebra</td>
							<td >$ {{totalCuenta|number_format(2,'.','')}}</td>
						</tr>
						<tr>
							<td >{% trans%}Total Recaudado{% endtrans%}</td>	
							<td >$ {{evento.contribucion|number_format(2,'.','')}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">{% trans%}Disclaimer{% endtrans%}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h4>{% trans%}Su retiro fue solicitado y se encuentra en proceso , el proximo lunes se transfiere a su cuenta bancaria{% endtrans%}</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
{#
<div class="row">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<div class="card">
							<div class="card-header">
								Datos del evento
							</div>
							<div class="card-body">
								<table class="table table-bordered ">
									<thead>
										<tr>
											<th>Tipo de lista</th>
											<th>Fecha evento</th>
											<th>Nombre titular</th>
											<th>Nombre adicional</th>
											<th>Monto total</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>Casamiento</td>
											<td>{{evento.fecha|date('d-m-Y')}}</td>
											<td>{{evento.nombre}}</td>
											<td>{{evento.nombre2|default('ninguno')}}</td>
											<td>{{total}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<div class="col-md-10 offset-md-1 mt-5">
						<div class="card">
							<div class="card-header">
								Regalos recibidos
							</div>
							<div class="card-body">
								<table class="table table-bordered ">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Email</th>
											<th>Regalo</th>
											<th>Fecha </th>
											<th>Mensaje</th>
											<th>Cobrado</th>
											<th>Monto</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody>
										{% for regalo in regalos %}
										<tr>
											<td>{{regalo.nombre}}</td>
											<td>{{regalo.email}}</td>
											<td>{{regalo.regalo.nombre}}</td>
											<td>03/11/2019</td>
											<td>{{regalo.mensaje}}</td>
											<td>SI</td>
											<td>{{regalo.contribucion}}$ USD</td>
											<td>
												<button class="btn btn-primary btn-sm">Agradecer</button>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>



				</div>

			</div>
		</div>
	</div>
</div>
#}

{% endblock %}
{% block javascripts %}
<script>
function openAgradecer(id){
	$('#regaloevento').val(id);
	$('#modalAgradecer').modal('toggle');
}

$('.btn-dropdown').click(function(){
	console.log($(this).parent().parent().parent().next());
	$(this).parent().parent().parent().next().toggle();
})
;
</script>
{% endblock %}
