{% extends 'base_user.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-8 offset-md-2">
		<div class="row">
			<div class="col-md-2 offset-md-10 mb-3">
				{% if panelNovio %}
					<a href=" {{ path ('regalos_index' , {'id':eventoId})}}" class="btn btn-success">{%trans%}Mis Eventos{%endtrans%}</a>
					{% else %}
					<a href="{{ path ('eventos_index')}}" class="btn btn-success">{%trans%}Mis Eventos {%endtrans%}</a>
					{% endif %}
			</div>
		</div>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8 offset-md-2">
					
					<form method="post" id="register-form">
						<label for="">{%trans%}Nombre {%endtrans%}</label>
						<input type="text" name="nombre" value="{{user.nombre}}" class="form-control">
						<label for="">{%trans%}Apellido {%endtrans%}</label>
						<input type="text" name="apellido" value="{{user.apellido}}" class="form-control">
						<label for="">{%trans%}Contraseña {%endtrans%}</label>
						 <div id="msg" style="display:none;">
              <p class="text-danger">Contraseñas deben coincidir</p>
            </div>
						<input id="pw" type="password" name="pw" class="form-control">
						<label for="">{%trans%}Confirmar contraseña {%endtrans%}</label>
						<input id="pw2" type="password" name="pw2" class="form-control">
						<br>
						<button class="btn btn-success">{%trans%}Guardar{%endtrans%}</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
  $('#register-form').on('submit',function(e){
    if ($('#pw').val() != $('#pw2').val()) {
      e.preventDefault();
      $('#msg').show();
    }else{
      $('#register-form').unbind('submit');
      $('#register-form').submit();
      $('#msg').hide();

    }
  });
});

;
</script>
{% endblock %}