{% extends 'base_user.html.twig' %}
{% block body %}
<div class="row">
 <div class="col-md-6 offset-md-3">
  <div class="card card-login">
    <div class="card-body">
      <div class="row ">
        {% if message %}
        <div class="col-md-12">
          {% if message == 'Usuario no existe' %}
          <div class="alert alert-danger" role="alert">
            <h6>{{ message }}</h6>
          </div>
          {% else %}
          <div class="alert alert-success" role="alert">
            <h6>{{ message }}</h6>
          </div>
          {% endif %}
        </div>
        {% endif %}
        <div class="col-md-12 text-center mb-3">
          <h4>{%trans%}Resetear contraseña {%endtrans%}</h4>
        </div>
        <div class="col-md-12 text-center">
          <form method="post">
            <input class="form-control mb-2" required placeholder="Email" name="email" type="text">
            <button class="btn btn-success btn-block">{%trans%}Enviar {%endtrans%}</button>
            <div class="row mt-3">
              <div class="col-md-6 font-small">
                <a href="{{ path ('login')}}">{%trans%}Ya tengo cuenta {%endtrans%}</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}