{% extends 'base_user.html.twig' %}
{% block body %}
<div class="row">
 <div class="col-md-6 offset-md-3">
  <div class="card card-login">
    <div class="card-body">
      <div class="row ">
        {% if error %}
        <div class="col-md-12">
          <div class="alert alert-danger" role="alert">
            <h6>{{ error }}</h6>
          </div>
        </div>
        {% endif %}
        <div class="col-md-12 text-center mb-3">
          <h4>{%trans%}Registro{%endtrans%}</h4>
        </div>
        <div class="col-md-6 text-center">
          <form method="post" id="register-form">
            <input class="form-control mb-2" required placeholder="Email" name="email" type="email">
            <input class="form-control mb-2" id="pw" required placeholder="{%trans%}Contraseña{%endtrans%}" name="pw" type="password">
            <input class="form-control mb-2" id="pw2" required placeholder="{%trans%}Repetir Contraseña{%endtrans%}" name="pw2" type="password">
            <div id="msg" style="display:none;">
              <p class="text-danger">Contraseñas deben coincidir</p>
            </div>
            <button class="btn btn-success btn-block">{%trans%}Registrarse{%endtrans%}</button>
            <div class="row mt-3">
              <div class="col-md-6 font-small">
                <a href="{{ path ('login')}}">{%trans%}Ya tengo cuenta{%endtrans%}</a>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-6 mt-3">
          <a href="{{ path ('google_start')}}" class="btn btn-danger btn-block">{%trans%}Registrar con gmail{%endtrans%}</a>
        <a href="{{ path ('facebook_start')}}" class="btn btn-primary btn-block">{%trans%}Registrar con facebook{%endtrans%}</a>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>

{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
  $('#register-form').on('submit',function(e){
    if ($('#pw').val() != $('#pw2').val()) {
      e.preventDefault();
      $('#msg').show();
    }else{
      $('#register-form').unbind('submit');
      $('#register-form').submit();
      $('#msg').hide();

    }
  });
});

;
</script>
{% endblock %}