{% extends 'base_user.html.twig' %}
{% block body %}
<div class="row">
 <div class="col-md-6 offset-md-3">
  <div class="card card-login">
    <div class="card-body">
      <div class="row ">
        <div class="col-md-12 text-center mb-3">
          <h4>{%trans%}Resetear contraseña {%endtrans%}</h4>
          <h6>{{user.username}}</h6>
        </div>
        <div class="col-md-12 text-center">
          <form method="post" id="register-form">
            <input class="form-control mb-2" id="pw" required placeholder="{%trans%}Contraseña {%endtrans%}" name="pw" type="password"><br>
            <input class="form-control mb-2" id="pw2" required placeholder="{%trans%}Repetir Contraseña{%endtrans%}" name="pw2" type="password">
            <div id="msg" style="display:none;">
              <p class="text-danger">Contraseñas deben coincidir</p>
            </div>
            <button class="btn btn-success btn-block">{%trans%}Guardar {%endtrans%}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>

{% endblock %}
{% block javascripts %}
<script>
$(document).ready(function(){
  $('#register-form').on('submit',function(e){
    if ($('#pw').val() != $('#pw2').val()) {
      e.preventDefault();
      $('#msg').show();
    }else{
      $('#register-form').unbind('submit');
      $('#register-form').submit();
      $('#msg').hide();

    }
  });
});

;
</script>
{% endblock %}