{% extends 'base_user.html.twig' %}
{% block body %}
<div class="row">
 <div class="col-md-6 offset-md-3">
  <div class="card card-login">
    <div class="card-body">
      <div class="row ">
        <div class="col-md-12 text-center mb-3">
        </div>
        <div class="col-md-12 text-center"><br>
          <h3>Contraseña reseteada exitosamente</h3><br>
          <a href="{{path ('login')}}" class="btn btn-success">Ir al login</a>
        </div>
      </div>
    </div>
  </div>
</div> 
</div>

{% endblock %}
{% block javascripts %}
{% endblock %}