{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="white-box">
			<h3>{{conversion.pais.pais}}</h3>
			<h3>{{conversion.idioma}}</h3>
			<h4>{{conversion.moneda}} $</h4>
			<form  method="post">
				<label for="">Conversion a Usd$</label><input type="number" value="{{conversion.conversion}}" name="conv" class="form-control">
				<br>
				<button class="btn btn-warning">Editar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}