{% extends "::base.html.twig" %}

{% block body %}
<!-- <div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="#">Nuevo</a>
	</div>
</div> -->
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<a href="{{ path ('AdminConversiones_actualizar')}}" class="btn btn-success ">Actualizar</a>
			<div class="box-heading">Conversiones de moneda</div>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr >
						<th class="text-center" >Id</th>
						<th class="text-center" >Pais</th>
						<th class="text-center" >Idioma</th>
						<th class="text-center" >Moneda</th>
						<th class="text-center" >Conversion</th>
						<th class="text-center" >Fecha</th>
						<th class="text-center" >Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for conversion in conversiones %}
					<tr class="text-center">
						<td>{{ conversion.id }}</td>
						<td>{{ conversion.pais.pais }}</td>
						<td>{{ conversion.idioma }}</td>
						<td>{{ conversion.moneda }}</td>
						<td>{{ conversion.conversion }}</td>
						<td>{{ conversion.fecha|date('d-m-Y') }}</td>
						<td>
							<a href="{{ path ('AdminConversiones_edit',{'id':conversion.id})}}" class="btn btn-warning" href="">Edit</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
