	<nav class="navbar navbar-second navbar-expand-lg  ">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
          	<li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{country[0]}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Argentina' ,'id':'95'})}}">Argentina</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Australia' ,'id':'1'})}}">Australia</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Canada' ,'id':'36'})}}">Canada</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Chile' ,'id':'116'})}}">Chile</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Colombia' ,'id':'114'})}}">Colombia</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'España' ,'id':'18'})}}">España</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Estados Unidos' ,'id':'34'})}}">Estados Unidos</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Reino Unido' ,'id':'20'})}}">Reino Unido</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Nueva Zelanda' ,'id':'86'})}}">Nueva Zelanda</a>
                <a class="dropdown-item" href="{{ path ('changeCountry',{'country':'Mexico' ,'id':'35'})}}">Mexico</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if app.request.locale == 'es' %}Español {% else %} English {% endif %}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="{{ path ('changeLanguage',{'lang':'es'})}}">Español</a>
                <a class="dropdown-item" href="{{ path ('changeLanguage',{'lang':'en'})}}">English</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{money}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                {% for money in cash %}
                  <a class="dropdown-item" href="{{ path ('changeMoney',{'money': money.moneda})}}">{{money.moneda}}</a>
                {% endfor %}
              </div>
            </li>
            <li class="nav-item">
              {% if app.user %}
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{app.user.username}}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                <a class="dropdown-item" href="{{ path ('users_editarPerfil')}}">Editar perfil</a>
                <hr>
                <a class="dropdown-item" href="{{ path ('eventos_index')}}">Mis Eventos</a>
                <hr>
                <a class="dropdown-item" href="{{ path ('eventos_new')}}">Crear otro evento</a>
                <hr>
                <a class="dropdown-item" href="{{ path ('logout')}}">Salir</a>
              </div>
            </li>
              {% else %}
              <a class="nav-link" href="{{ path ('login')}}">{% trans %}Ingresar {% endtrans %}</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>