{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-12 m-b-10">
		<form method="post" action="{{ path ('newReporteCompletoExcel')}}">
			<input type="hidden" name="buscar" {% if palabra %}value="{{palabra}}"{% endif %} >
			<input type="hidden" name="pais" value="{{paisR}}">
			<input type="hidden" name="tipo" value="{{tipoR}}">
			<input type="hidden" name="desde" {% if desde %} value="{{desde|date('Y-m-d')}}" {% endif %}>
			<input type="hidden" name="hasta" {% if hasta %} value="{{hasta|date('Y-m-d')}}" {% endif %}>
			<button class="btn btn-primary">Generar Reporte</button>
		</form>
	</div>
</div>

<div class="white-box">
	<form action="">
	<div class="row">
		<div class="col-md-2">
			<label for="">Buscar Evento</label>
			<input type="text" {% if palabra %}value="{{palabra}}"{% endif %}  name="buscar" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
		</div>
		<div class="col-md-2">
			<label for="">Tipo de registro</label>
			<select name="tipo" class="form-control" id="">
					<option value="">Seleccione un tipo de evento</option>
				{% for tipo in tipoEventos %}
					<option {% if tipoR == tipo.id %}selected{% endif %} value="{{tipo.id}}">{{tipo.tipo}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-2">
			<label for="">Pais</label>
			<select class="form-control" name="pais" id="">
				<option value="">Seleccione un pais</option>
				{% for pais in paises %}
					<option {% if paisR == pais.id %}selected{% endif %} value="{{pais.id}}">{{pais.pais}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-2">
			<label for="desde">Desde</label>
			<input type="date" class="form-control" name="desde" {% if desde %} value="{{desde|date('Y-m-d')}}" {% endif %}>
		</div>
		<div class="col-md-2">
			<label for="desde">Hasta</label>
			<input type="date" class="form-control" name="hasta" {% if hasta %} value="{{hasta|date('Y-m-d')}}" {% endif %}>
		</div>
		<div class="col-md-1 mt-2">
			<button class="btn btn-primary mt-4 " ><i class="fa fa-search"></i></button>
		</div>
	</div>
</form>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="white-box" style="overflow-x:scroll">
			<div class="box-heading">Pagos realizados</div>
			<table id="MyTable" class="table table-striped display nowrap" style="width:100%">
				<thead>
					<tr>
						<th>Id</th>
						<th>Nombre de lista</th>
						<th>Tipo de lista</th>
						<th>Fecha del evento</th>
						<th>Cantidad de invitados</th>
						<th>Pais</th>
						<th>Ciudad</th>
						<th>Pais retiro de fondos</th>
						<th>Moneda elegida</th>
					</tr>
				</thead>
				<tbody>
					{% for evento in eventos %}
					<tr>
						<td>{{evento.id}}</td>
						<td>{{evento.titulo}}</td>
						<td>{{evento.tipo.tipo}}</td>
						<td>{{evento.fecha|date('d-m-Y')}}</td>
						<td>{{evento.invitados}}</td>
						<td>{{evento.pais.pais}}</td>
						<td>{{evento.ciudad}}</td>
						<td>{{evento.comision.pais.pais}}</td>
						<td>{{evento.comision.pais.codigo}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function() {
	$('#MyTable').DataTable( {
		"scrollX": true
	} );
} );
</script>
{% endblock %}
