{% extends "::base.html.twig" %}

{% block body %}
<style>
</style>
<div class="row">
	<div class="col-md-12 m-b-10">
		<form method="post" action="{{ path ('newReportePagosExcel')}}">
			<input type="hidden" name="buscar" {% if palabra %}value="{{palabra}}"{% endif %} >
			<input type="hidden" name="pais" value="{{paisR}}">
			<input type="hidden" name="tipo" value="{{tipoR}}">
			<input type="hidden" name="desde" {% if desde %} value="{{desde|date('Y-m-d')}}" {% endif %}>
			<input type="hidden" name="hasta" {% if hasta %} value="{{hasta|date('Y-m-d')}}" {% endif %}>
			<button class="btn btn-primary">Generar Reporte</button>
		</form>
	</div>
</div>

<div class="white-box">
	<form action="">
	<div class="row">
		<div class="col-md-2">
			<label for="">Buscar Evento</label>
			<input type="text" {% if palabra %}value="{{palabra}}"{% endif %}  name="buscar" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
		</div>
		<div class="col-md-2">
			<label for="">Tipo de registro</label>
			<select name="tipo" class="form-control" id="">
					<option value="">Seleccione un tipo de evento</option>
				{% for tipo in tipoEventos %}
					<option {% if tipoR == tipo.id %}selected{% endif %} value="{{tipo.id}}">{{tipo.tipo}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-2">
			<label for="">Pais</label>
			<select class="form-control" name="pais" id="">
				<option value="">Seleccione un pais</option>
				{% for pais in paises %}
					<option {% if paisR == pais.id %}selected{% endif %} value="{{pais.id}}">{{pais.pais}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col-md-2">
			<label for="desde">Desde</label>
			<input type="date" class="form-control" name="desde" {% if desde %} value="{{desde|date('Y-m-d')}}" {% endif %}>
		</div>
		<div class="col-md-2">
			<label for="desde">Hasta</label>
			<input type="date" class="form-control" name="hasta" {% if hasta %} value="{{hasta|date('Y-m-d')}}" {% endif %}>
		</div>
		<div class="col-md-1 mt-2">
			<button class="btn btn-primary mt-4 " ><i class="fa fa-search"></i></button>
		</div>
	</div>
</form>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="white-box" style="overflow-x:scroll">
			<div class="box-heading">Pagos realizados</div>
			<table id="MyTable" class="table table-striped display nowrap" style="width:100%">
				<thead>
					<tr>
						<th>Id</th>
						<th>Id lista de novios</th>
						<th>Medio de pago</th>
						<th>Fecha compra</th>
						<th>Monto</th>
						<th>Id Regalo</th>
						<th>Nombre lista</th>
						<th>Nombre regalo</th>
						<th>Mail titular</th>
						<th>Mail adicional</th>
						<th>Participantes de regalo</th>
						<th>Email participantes</th>
						<th>Dedicatoria</th>
						<th>Envie saludos (si/no)</th>
						<th>Agradecimiento de los novios</th>
					</tr>
				</thead>
				<tbody>
					{% for regalo in regalos %}
					<tr>
						<td>{{regalo.id}}</td>
						<td>{{regalo.evento.id}}</td>
						<td>{{regalo.factura.metodoPago}}</td>
						<td>{{regalo.factura.fecha|date('d-m-Y')}}</td>
						<td>{{regalo.factura.total}}</td>
						<td>{{regalo.regalo.id}}</td>
						<td>{{regalo.evento.titulo}}</td>
						<td>{{regalo.regalo.nombre}}</td>
						<td>{{regalo.evento.email}}</td>
						<td>{{regalo.evento.email2}}</td>
						<td>{{regalo.nombre}}</td>
						<td>{{regalo.email}}</td>
						<td>{{regalo.mensaje}}</td>
						<td>{{regalo.agradecer}}</td>
						<td>{{regalo.agradecerMensaje}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>

$(document).ready(function() {
	$('#MyTable').DataTable( {
		"scrollX": true
	} );
} );
</script>
{% endblock %}
