{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-12 m-b-10">
		<a class="btn btn-primary" href="{{ path ('AdminCategorias_new')}}">Nuevo</a>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="white-box">
			<div class="box-heading">Categorias</div>
			<table id="MyTable" class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Categoria</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					{% for categoria in categorias %}
					<tr>
						<td>{{ categoria.id}}</td>
						<td>{{ categoria.categoria}}</td>
						<td>
							<a class="btn btn-warning" href="{{ path ('AdminCategorias_edit',{'id':categoria.id})}}">Edit</a>
							<a class="btn btn-danger" href="{{ path ('AdminCategorias_del',{'id':categoria.id})}}">Del</a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
{% block javascripts %}
<script>
	$('#MyTable').DataTable();
</script>
{% endblock %}
