{% extends "::base.html.twig" %}

{% block body %}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="white-box">
			<div class="box-title">Nueva Categoria</div>
			<form method="post" >
				<label for="">Categoria</label>
				<input name="categoria" placeholder="Categoria" type="text" class="form-control">
				<br>
				<button class="btn btn-primary">Enviar</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
{% block javascript %}
<script>

</script>
{% endblock %}
